<table border=0 width="100%" cellspacing=10>

<tr>

<td colspan=2><p class="narr"><b>EPM is the multi-language metrics solution for measuring changed, added and deleted source lines of code</b></p>

<p class="narr" style="text-align:justify">The majority of organisations recognise the importance of
managing and monitoring their considerable investment in developed source code.
To do this they measure both the size and the changes to the project and its key
components. This enables developers and managers to see if there is any unexpected
or 'rogue' development or simply to compare the progress of development against the
design and project plan.  It also serves to indicate if any particular source components
are being changed frequently and this may indicate a design or coding issue.</p></td>

<td align=right valign=middle><a href="screenshot.html"><img src="thumb/c1.gif" border=0></a></td></tr>

<tr>

<td rowspan=2 align=right valign=middle align=center><a href="screenshot.html"><img src="thumb/m2.gif" border=0></a><br>
<p class="annot">Multi-Language Projects</p>
<a href="screenshot.html"><img src="thumb/m1.gif" border=0></a></td>

<td><p class="narr" style="text-align:justify">Very often this job is done manually, by an in-house developed utility
that is not commercially supported or by a similarly unsupported freeware utility.
PowerSoftware.com believes that this is not an ideal way to protect your investment
in a source code project that may run into millions of pounds and so we have developed
a single, professional product with full commercial support to achieve this task for you.
We have called this product <b>Essential Project Manager</b> (<b>EPM</b>) because it’s an essential tool
for source code Project Managers.</p>

<div id="hotnew">
<p>EPM now features <b>churn metrics</b>, giving you the ability to tell at-a-glance how much <i>change has occurred between two projects</i>.  Churn metrics include:
<ul>
	<li>CRN_SLOC: Churn Source lines of code: total changed, new and deleted <i>source</i> lines of code.</li>
	<li>CRN_LLOC: Churn Logical lines of code: total changed, new and deleted <i>logical</i> lines of code.</li>
	<li>CRN_FILE: Churn Files: total number of changed, new and deleted files.</li>
</ul>
</p>
</div>

<div style="float:left; clear:left;padding: 0 10px; ">
<table border=0 width="228" class="featurebox" cellpadding=5 cellspacing=0>
<tr class="featureimg"><td><img width="228" height="81" src="../img/xml1.gif" border=0></td></tr>
<tr><td><p class="narr" style="text-align:center">Configure EPM to suit your file extensions using
a simple <a href="epm.xml" target="_blank">XML configuration file</a></p></td></tr>
</table>
</div>

<p class="narr" style="text-align:justify"><b>EPM</b> is a command line (batch mode) utility and as such it can be
integrated into your build process to automatically measure both the size of your source
code and the number of &quot;new, changed and deleted&quot; lines of source code across the
entire project and in each individual source file. Of course <b>EPM</b> also shows which files have
been removed, added and deleted across the project as a whole. It does this by referencing
the new version of the source code project against the previous or any other prior version
of your project.</p></td>

<td align=center><a href="epm_chg_ex.pdf"><img src="../img/pdf2.gif" border=0></a><br>
<a class="narr" href="epm_chg_ex.pdf">Changed SLOC Example</a><br><br>

<a href="UserGuide.pdf"><img src="../img/pdf2.gif" border=0></a><br>
<a class="narr" href="UserGuide.pdf">View the User Guide</a><br><br>

<a href="../kepm/KEPM_Vista_MySQL.pdf"><img src="../img/pdf2.gif" border=0></a><br>
<a class="hotnew" href="../kepm/KEPM_Vista_MySQL.pdf">Vista/MySQL User Guide</a><br><br>

<a href="MetricsDefinitions.pdf"><img src="../img/pdf2.gif" border=0></a><br>
<a class="narr" href="MetricsDefinitions.pdf">Metrics Definitions</a><br><br>

<a href="../kepm/ManagementBrief.pdf"><img src="../img/pdf2.gif" border=0></a><br>
<a class="narr" href="../kepm/ManagementBrief.pdf">Read Management Brief</a></td>

</tr><tr>

<td colspan=2><p class="narr" style="text-align:justify"><b>EPM</b> operates at two levels. In single project (non-comparison) mode it simply
provides, in a variety of reports for LOC, SLOC and related metrics (Halstead size metrics)
for the project and for each file.  In comparison mode it provides the &quot;differences&quot;
and the &quot;changes&quot; in these metrics between the two versions of the project that
you select. It is in this second, comparison, mode that you will see our unique &quot;changed SLOC&quot;
metrics that are so useful in indicating the issues mentioned above.</p></td>

</tr><tr>

<td colspan=2><p class="narr">In order for <b>EPM</b> to be a single, industry-standard, solution we have designed
the product to support multiple languages and the number of supported languages is increasing
frequently and rapidly.</p>

<p class="narr">Of course the data produced by <b>EPM</b> must be given in a useful format and
it is therefore provided in CSV, HTML and XML for your further collection,
analysis and further processing.</p>

<p class="narr">Please take the opportunity to <a href="../download/">download</a>
and test <b>EPM</b> on your source code today.</p>

</td>

<td valign=middle>
<div style="width:auto; border: #0066cc 2px solid; padding: 10px">
<img title="Ada" src="../img/lang/ada.gif">
<img title="ASP" src="../img/lang/aspx.gif">
<img title="Assembly" src="../img/lang/asm.png">
<img title="C++" src="../img/lang/cpp.gif">
<img title="C#" src="../img/lang/cs.gif">
<img title="Cascading Style Sheets" src="../img/lang/css.png">
<img title="IDL" src="../img/lang/idl.gif">
<img title="HTML" src="../img/lang/html.png">
<img title="Java" src="../img/lang/java.gif">
<img title="JavaScript" src="../img/lang/javascript.png">
<img title="JSP" src="../img/lang/jsp.gif">
<img title="Oracle PL/SQL" src="../img/lang/ora.gif">
<img title="PHP" src="../img/lang/php.gif">
<img title="Perl" src="../img/lang/perl.gif">
<img title="Python" src="../img/lang/python.png">
<img title="Ruby" src="../img/lang/ruby.png">
<img title="VHDL" src="../img/lang/vhdl.gif">
<img title="Visual Basic" src="../img/lang/vb.gif">
<img title="Windows Batch" src="../img/lang/batch.png">
<img title="XML" src="../img/lang/xml.gif">
</div>
</td>

</tr>

</table>
