
<h3 class="narr">Krakatau &quot;kbatch&quot; is a basic, command-line driven, software metrics utility.</h3>

<p class="narr"><b>Krakatau &quot;kbatch&quot;</b> is the non-graphical component of the popular
Krakatau Lite tool.</p>

<p class="narr">Invoked directly at the command line, <b>kbatch</b> delivers numerous
popular metrics (detailed below) and allows these to be reported using HTML and CDF.</p>

<p class="narr"><b>Krakatau &quot;kbatch&quot;</b> is ideal for organizations required to count lines
of code metrics for military or government contracts and also for adherence to
ANSI/ISO and CMM quality standards.</p>

<p class="narr"><b>Krakatau &quot;kbatch&quot;</b> counts lines of code, source lines of code, comment lines and
semi-colon lines of code. <b>Krakatau &quot;kbatch&quot;</b> offers several other basic metrics such as Cyclomatic
Complexity and Halstead Size metrics.</p>

<p class="narr">Relevant versions of <b>Krakatau &quot;kbatch&quot;</b> are included in Krakatau Lite,
Krakatau Professional and Krakatau Project Manager. <b>Krakatau &quot;kbatch&quot;</b> is offered here as a stand-alone
metrics utility, for inclusion in the build process or for OEM applications.</p>

<p class="narr">Krakatau &quot;kbatch&quot; features the following essential metrics:</p>



