<table border=0 width="100%" cellspacing=10>

<tr>

<td colspan=2><p class="narr"><b>A Graphical User Interface for multi-language projects... Krakatau Essential PM</b></p>

<p class="narr" style="text-align:justify">Krakatau Essential PM makes using EPM
(our market leading changed SLOC) tool even easier.
Featuring a carefully designed GUI to facilitate fast and efficient project creation
Krakatau EPM allows software professional to compare two versions of a software project
and within seconds view changed, new and deleted files and SLOC values.
Krakatau EPM enables the user to take snapshots of the software project and pinpoint
areas of the source code that are changing too frequently or unexpectedly
(without authorisation). In this respect, project management, quality and
control are clearly improved.</p>
</td>

<td align=center valign=middle><a href="screenshot.html"><img width=150 height=88
src="../img/prod/kepm1_sm.png" border=0></a></td></tr>

<tr>

<td rowspan=2 align=right valign=middle align=center><a href="screenshot.html"><img src="thumb/m2.gif" border=0></a><br>
<p class="annot">Multi-Language Projects</p>
<a href="screenshot.html"><img src="thumb/m1.gif" border=0></a></td>

<td><p class="narr" style="text-align:justify"><p class="narr" style="text-align:justify">Krakatau Essential PM
can be used with EPM, our command
line tool, to provide a complete solution to measuring changed, new and deleted SLOC.
Krakatau Essential PM automatically creates HTML, XML and CSV reports as well as MySQL data files.
KEPM also provides traditional LOC/SLOC metrics including Halstead size metrics.
In single project mode KEPM displays LOC/SLOC/Halstead metrics for individual (non-comparison) projects.</p>

<div id="hotnew">
<p>EPM now features <b>churn metrics</b>, giving you the ability to tell at-a-glance how much <i>change has occurred between two projects</i>.  Churn metrics include:
<ul>
  <li>CRN_SLOC: Churn Source lines of code: total changed, new and deleted <i>source</i> lines of code.</li>
  <li>CRN_LLOC: Churn Logical lines of code: total changed, new and deleted <i>logical</i> lines of code.</li>
  <li>CRN_FILE: Churn Files: total number of changed, new and deleted files.</li>
</ul>
</p>
</div>

<div style="float:left; clear:left;padding: 0 10px; ">
<table border=0 width="228" class="featurebox" cellpadding=5 cellspacing=0>
<tr class="featureimg"><td><img width="228" height="81" src="../img/xml1.gif" border=0></td></tr>
<tr><td><p class="narr" style="text-align:center">Configure Krakatau Essential PM to suit your
file extensions using<br>a simple <a href="epm.xml" target="_blank">XML configuration file</a></p></td></tr>
</table>
</div>

<p class="narr" style="text-align:justify"><b>Krakatau Essental PM</b> and <b>EPM</b> are true
Multilanguage Project tools.
If your project includes
Ada, ASP.NET, C/C++, C#, IDL, Java, JSP, Oracle SQL, Perl, PHP, VB/VB.net, VHDL or XML
then EPM will parse all these language files concurrently and report on all language files in one single
project report! New language support can be added on request.</a></p>

<table border=0 cellspacing=0 cellpadding=5 align=center>
  <tr>
    <td align=right><a href="javaScript:showFlash('../kepm/kepm.swf','Krakatau EPM','Krakatau EPM Demo', 'KEPM Product', 1216, 943);"><img src="../img/flash_off.png" width=30 height=30 onmouseover="this.src='../img/flash_on.png';" onmouseout="this.src='../img/flash_off.png';" border=0></a></td>
    <td class="narr"><a href="javaScript:showFlash('../kepm/kepm.swf','Krakatau EPM','Krakatau EPM Demo', 'KEPM Product', 1216, 943);">View Flash Demo</a></td>
  </tr>
</table>

</td>

  <td align=center>
    <a href="QuickStartGuideKEPM.pdf"><img src="../img/pdf2.gif" border=0></a><br>
    <a class="narr" href="QuickStartGuideKEPM.pdf">Quick Start Guide</a><br><br>

    <a href="../epm/epm_chg_ex.pdf"><img src="../img/pdf2.gif" border=0></a><br>
    <a class="narr" href="../epm/epm_chg_ex.pdf">Changed SLOC Example</a><br><br>

    <a href="UserGuideKEPM.pdf"><img src="../img/pdf2.gif" border=0></a><br>
    <a class="narr" href="UserGuideKEPM.pdf">View the User Guide</a><br><br>

    <a href="../epm/MetricsDefinitions.pdf"><img src="../img/pdf2.gif" border=0></a><br>
    <a class="narr" href="../epm/MetricsDefinitions.pdf">Metrics Definitions</a><br><br>

    <a href="ManagementBrief.pdf"><img src="../img/pdf2.gif" border=0></a><br>
    <a class="narr" href="ManagementBrief.pdf">Read Management Brief</a>
  </td>

</tr><tr>

<td><p class="narr" style="text-align:justify"><p class="narr" style="text-align:justify"><a
href="http://www.powersoftware.com/pm/pm_chg_ex.pdf">Read more</a> about the
changed, new, deleted SLOC algorithm.</p>

<ul class="narr">
<li><a href="../download/">Download Krakatau
Essential PM</a> and kickstart your evaluation of our easy-to-use now!</li>

<li><a
href="mailto:laurence.arthur@powersoftware.com?Subject=Krakatau%20Essential%20PM">Request</a> a 7
day trial license key.</li>
</ul>

</td>

</td>

<td valign=middle>
<div style="width:auto; border: #0066cc 2px solid; padding: 10px">
<img title="Ada" src="../img/lang/ada.gif">
<img title="ASP" src="../img/lang/aspx.gif">
<img title="Assembly" src="../img/lang/asm.png">
<img title="C++" src="../img/lang/cpp.gif">
<img title="C#" src="../img/lang/cs.gif">
<img title="Cascading Style Sheets" src="../img/lang/css.png">
<img title="IDL" src="../img/lang/idl.gif">
<img title="HTML" src="../img/lang/html.png">
<img title="Java" src="../img/lang/java.gif">
<img title="JavaScript" src="../img/lang/javascript.png">
<img title="JSP" src="../img/lang/jsp.gif">
<img title="Oracle PL/SQL" src="../img/lang/ora.gif">
<img title="PHP" src="../img/lang/php.gif">
<img title="Perl" src="../img/lang/perl.gif">
<img title="PowerBuilder" src="../img/lang/powerbuilder.png">
<img title="Python" src="../img/lang/python.png">
<img title="Ruby" src="../img/lang/ruby.png">
<img title="VHDL" src="../img/lang/vhdl.gif">
<img title="Visual Basic" src="../img/lang/vb.gif">
<img title="Windows Batch" src="../img/lang/batch.png">
<img title="XML" src="../img/lang/xml.gif">
</div>
</td>

</tr>

</table>
