<br>
<img src="../img/title/contact.gif" border=0><br><br>

<p class="narr">Please contact us if you require further information on any of our products,
or if you would like to discuss your requirements.</p>
<h2 class="narr">Email Addresses</h2>

<ul class="psbullet">
<li>Sales and general product enquiries: <a href=mailto:objects@powersoftware.com>objects@powersoftware.com</a></li>
<li>Technical support queries: <a href=mailto:support@powersoftware.com>support@powersoftware.com</a></li>
<li>Web page questions and comments: <a href=mailto:webmaster@powersoftware.com>webmaster@powersoftware.com</a></li>
</ul>

<p class="narr">If you experience any difficulties contacting us,
please email <a href="mailto:javapartner@hotmail.com">javapartner@hotmail.com</a>.</p>

<h2 class="narr">Site Mirrors</h2>

<ul class="psbullet">
<li><a href="http://www.sourcecodemetrics.com/">www.sourcecodemetrics.com</a></li>
<li><a href="http://www.scmetrics.com/">www.scmetrics.com</a></li>
<li><a href="http://www.powersoftware.com/">www.powersoftware.com</a></li>
</ul>
