
<!--<img src="../img/title/buy.gif" border=0><br><br>-->
<h3>Evaluation License</h3>

<FORM action="/cgi-bin/www.power-soft.co.uk/license.pl" method=post>

<input type=hidden name="fromscr01" value="1">

<TABLE cellspacing=8 cellpadding=0 border=0>
<TR VALIGN=TOP>

<TD width=50%>
<table border=0 cellspacing=3 cellpadding=0>
<!--
<tr><td colspan=3 class="dlProduct">Krakatau Professional</td></tr>
-->
<tr><td colspan=3 class="dlProduct"><img alt="Krakatau Professional" src="../img/prod/small_kp.gif"></td></tr>

<tr><td colspan=3 bgcolor="999999" background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.01</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kpwincppv2 value="y"></td>
   <td class="narr">C/C++ for Windows NT/2000</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kpwinjavav2 value="y"></td>
   <td class="narr">Java for Windows NT/2000</td></tr>

<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kpsolcppv2 value="y"></td>
   <td class="narr">C/C++ for Solaris</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kpsoljavav2 value="y"></td>
   <td class="narr">Java for Solaris</td></tr>

</table>


</TD><TD width=50%>

<!--<table border=0 cellspacing=1><tr><td background="../img/f.gif" height=1
 bgcolor="0077cc"><img src="../img/f.gif" height=1 width=1>-->

 <table border=0 cellspacing=3 cellpadding=0 bgcolor="FFFFFF">

<!--
<tr><td colspan=3 class="dlProduct">Krakatau Project Manager</td></tr>
-->
<tr><td colspan=3 class="dlProduct"><img alt="Krakatau Project Manager" src="../img/prod/small_pm.gif"></td></tr>

<tr><td colspan=3 bgcolor="999999" background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.01</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmwincppv2 value="y"></td>
   <td class="narr">C/C++ for Windows NT/2000</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmwinjavav2 value="y"></td>
   <td class="narr">Java for Windows NT/2000</td></tr>

<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmsolcppv2 value="y"></td>
   <td class="narr">C/C++ for Solaris</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmsoljavav2 value="y"></td>
   <td class="narr">Java for Solaris</td></tr>

<!--</table></td></tr>--></table>

</TD></TR><TR VALIGN=TOP>


<TD width=50%>


<table border=0 cellspacing=3 cellpadding=0>

<!--
<tr><td colspan=3 class="dlProduct">Krakatau Lite</td></tr>
-->
<tr><td colspan=3 class="dlProduct"><img alt="Krakatau Lite" src="../img/prod/small_kl.gif"></td></tr>

<tr><td colspan=3 bgcolor="999999" background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.01</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=klwincppv2 value="y"></td>
   <td class="narr">C/C++ for Windows NT/2000</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=klwinjavav2 value="y"></td>
   <td class="narr">Java for Windows NT/2000</td></tr>

<tr><td>&nbsp;</td><td><INPUT type=checkbox name=klsolcppv2 value="y"></td>
   <td class="narr">C/C++ for Solaris</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=klsoljavav2 value="y"></td>
   <td class="narr">Java for Solaris</td></tr>

</table></td>

<td>

<table border=0 cellspacing=3 cellpadding=0>

<tr><td colspan=3 class="dlProduct"><img alt="Krakatau Batch" src="../img/prod/small_kb2.gif"></td></tr>

<tr><td colspan=3 bgcolor="999999" background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.01</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kbwincpp value="y"></td>
   <td class="narr">C/C++ for Windows NT/2000</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kbwinjava value="y"></td>
   <td class="narr">Java for Windows NT/2000</td></tr>

<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kbsolcpp value="y"></td>
   <td class="narr">C/C++ for Solaris</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kbsoljava value="y"></td>
   <td class="narr">Java for Solaris</td></tr>

</table></td>

</TR>

<tr><td colspan=2 bgcolor="999999" background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr valign=top>
  <td colspan=2 align=right><input type=submit value="Next >"></td></td>
</tr>


</TABLE>
</FORM>
