Options +FollowSymLinks
RewriteEngine On
RewriteBase /

RewriteCond %{HTTP_HOST} ^(.*)stourvalleytimberengineering\.co\.uk$ [OR]
RewriteCond %{HTTP_HOST} ^(.*)svte\.co\.uk$
RewriteRule ^(.*)$ http://www.stourvalleytechnicalservices.co.uk/$1 [R=301,L]

RewriteCond %{HTTP_USER_AGENT} ^.*robot.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*spider.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*[tT]wiceler.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Slurp.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*MSNBot.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*Teoma.*$ [OR]
RewriteCond %{HTTP_USER_AGENT} ^.*gigabot.*$ 
RewriteRule .* - [F] 

