  Options +SymLinksIfOwnerMatch -Indexes



































































































































































































php_value auto_append_file /home/iknit/public_html/pub/Thumbs.db