<p><span class=lorange>L'ORANGE</span> develops and manufactures diesel fuel injection systems
for medium and high speed diesel engines with injection
pressures in excess of 2000 bar.</p>

<p><span class=am>Airylea Motors</span> is the sole Service and Supply agent
for <span class=lorange>L'Orange</span> in Scotland,
and one of only two firms in the UK.</p>

<table cellspacing=0 cellpadding=0 align=center>
  <tr><td class=thinBox><img src="./img/lo_cr1.gif" alt="L'Orange Common Rail Injection System"></td><tr>
  <tr><td align=center class=annot><span class=lorange>L'Orange</span>
    Common Rail Injection System</td><tr>
</table>

<p><span class=lorange>L'Orange</span> is original equipment manufacturer for:
Caterpillar/MaK, COOPER INDUSTRIES, DEUTZ MWM, Enpaco,
Hyundai Heavy Industries, MAN B&W Diesel,
MTU, Rolls-Royce Bergen, S.E.M.T. Pielstick and WARTSILA Group
and their licensees.</p>

<table cellspacing=0 cellpadding=0 align=center>
  <tr><td class=thinBox><img src="./img/lo_inj1.jpg" alt="L'Orange Diesel Injection Components"></td><tr>
  <tr><td align=center class=annot><span class=lorange>L'Orange</span>
    Plungers &amp; barrels, connection pieces, nozzles</td><tr>
</table>

<p>Fuel injection spare parts are also manufactured for all
reputable large diesel engines.</p>

