
<table border=0 width="100%" cellspacing=5 cellpadding=5>

<tr><td><span class=am>Airylea Motors</span> are Official Agents for</td></tr>

<tr><td valign=top>
  <table border=0 cellpadding=8 align=center>
    <tr>
      <td><a href="lorange.html"><img src="./img/supp_lorange2.png" alt="L'Orange" border=0></a></td>
      <td><a href="stanadyne.html"><img src="./img/supp_stanadyne.gif" alt="Stanadyne" border=0></a></td>
    </tr><tr>
      <td colspan=2 align=center><a href="delphi.html"><img src="./img/supp_delphi.gif" alt="Delphi and Denso" border=0></a></td>
    </tr>
  </table>
</td></tr>

<tr><td>We are <i>Free Workshop</i> Agents for</td></tr>

<tr><td valign=top align=center>
  <table border=0 cellpadding=8 align=center>
    <tr>
      <td><a href="bosch.html"><img src="./img/supp_bosch.gif" alt="Bosch" border=0></a></td>
    </tr>
  </table>
</td></tr>

<tr><td><span class=am>Airylea Motors</span> also service and repair</td></tr>

<tr><td valign=top align=center>
  <table border=0 cellpadding=8 align=center>
    <tr>
      <td><a href="woodward.html"><img src="./img/supp_woodward.gif" alt="Woodward" border=0></a></td>
    </tr>
  </table>
</td></tr>

</table>