<p><span class=ww>Woodward&rsquo;s</span> leading-edge diesel-engine control systems help you achieve
maximum efficiency and minimum emissions from your engines. Software is
easy to use. Controls use digital electronics, electric and hydro-mechanical
auxiliaries and servo actuation systems, and on-engine accessories.</p>

<p><span class=ww>Woodward</span> has a full range of fuel injection nozzles.</p>

<table border=0 cellspacing=0 cellpadding=0 align=center>
  <tr>
    <td class=thinBox><img src="./img/ww_noz1.jpg" alt="Woodward Diesel Injector Nozzles"></td>
    <td width=100>&nbsp;</td>
    <td class=thinBox><img src="./img/ww_pump1.jpg" alt="Woodward Diesel Fuel Pump"></td>
  <tr>

  <tr>
    <td align=center class=annot><span class=ww>Woodward</span> Nozzles</td>
    <td width=100>&nbsp;</td>
    <td align=center class=annot><span class=ww>Woodward</span> Pump</td>
  <tr>
</table>

<p>Pumps for diesel and heavy fuels provide the high fuel injection pressures
required to achieve the ultimate in high fuel efficiency, low emissions engine
designs.</p>


<table cellspacing=0 cellpadding=0 align=center>
</table>
