          </td>
        </tr><tr>
            <td bgcolor=ffffff><img src="./img/f.gif" width=0 height=20></td>
        </tr><tr>
            <td align=center height=20 bgcolor=ffffff>&copy; 2015 Power Software Ltd. All rights reserved.</td>
        </tr><tr>
            <td bgcolor=ffffff><img src="./img/f.gif" width=0 height=6></td>
        </tr></table>
<td><img src="/img/f.gif" width=0 height=0></td>
        </tr>
      </table></td>
  </tr><tr>
  </tr>
</table>
</body>
</html>
