<tr><td><table><tr><td class="narr"><h3 class="narr">Sales and Marketing Careers</h3>

<p class="narr">Power Software has world-class products and we need world class people to
exploit this market leading technology.</p>

<p class="narr">You will see from our impressive customer list below that we are a force to be
reckoned with.</p>

<p class="narr">Currently we need highly motivated men and women for our Aberdeen
office, to sell our exclusive and unique software technology world-wide.</p>

<table border=0 cellpadding=4><tr><td valign=top><img src="../img/mandatory.gif"></td>
<td><p class="narr">You must be ambitious, creative and persistent and possess an unusual
combination of sales skills and technical acumen.</p></td></tr>

<tr><td valign=top><img src="../img/mandatory.gif"></td>
<td><p class="narr">Ideally you will have at least two years experience of remote IT sales
and Internet marketing to allow you create new sales and develop our customer base in
North America and Europe.</p></td></tr>

<tr><td valign=top><img src="../img/mandatory.gif"></td>
<td><p class="narr">You will deal with a very technical audience and must be able to grasp
C/C++/Java software development concepts and communicate at the highest
technical levels.</p></td></tr></table>

<p class="narr">The rewards are large and are limited only by your own ambition and
capacity for hard work.</p>

<table border=0 cellpadding=4><tr><td valign=top><img src="../img/mandatory.gif"></td>
<td><p class="narr">We are not interested in lazy, fat cat salesmen.</p></td></tr>

<tr><td valign=top><img src="../img/mandatory.gif"></td>
<td><p class="narr">We are interested in highly-motivated professionals who wish to do the
best possible job for the company and our valued customers.</p></td></tr></table>

<p class="narr">If you fit this profile please contact
<a href="mailto:Laurence Arthur <laurence.arthur@powersoftware.com>">laurence.arthur@powersoftware.com</a> with
your current CV or call us on +44 (0) 1224 622201.</p>

<p class="narr"><b>Positions available at 1st August 2001</b></p>

<p class="narr">Sales Manager (Ref. SM - POWERSOF)</p>

<p class="narr">Reporting directly to the CEO your job is to maximise sales revenue.
You will be responsible for hiring new sales specialists and managing our existing sales team.
Ideally you will have experience of selling very high technology to major accounts like the US Government, Siemens, Nokia and Ericsson. You will be expert in developing and concluding business at all levels across continents (predominately USA) from our offices here in Aberdeen.
We anticipate you will be aged between 25 and 35 and will have a good background in high technology sales. Graduate level education and an ability to learn the intricacies of computer programming languages is also important.
An attractive salary and very high bonus is offered to the right candidate.
This position will naturally lead to a board level appointment within a few years.</p>

<p class="narr">Please apply to Charlene Hamilton (<a href="mailto:charlene.hamilton@powersoftware.com">charlene.hamilton@powersoftware.com</a>)</p>

<p class="narr">Sales Account Managers (Ref. SAM - POWERSOF)</p>

<p class="narr">Our Sales Account Managers are the commercial backbone of our organisation.
You will be joining a highly successful software company with some of the best customers in the world.
Targeting Fortune 500 companies you will be highly motivated and possess unusually good communication skills.  You will have a flexible, creative mind and the ability to grasp complex concepts.
Most importantly you will be goal orientated and will have a natural desire to complete tasks and to conclude negotiations. You will need excellent telephone skills and must be comfortable making 20-40 calls per day to our world-wide customers.
Excellent salary with a high bonus contribution is available to the right candidates.</p>

<p class="narr">Please apply to Charlene Hamilton (<a href="mailto:charlene.hamilton@powersoftware.com">charlene.hamilton@powersoftware.com</a>)</p>

</td>

<td><img src="http://www.powersoftware.com/img/krakad4.gif" border=0
	  alt="Krakatau Advert" align="right"></td></tr></table></td></tr>