<HTML>
<HEAD>
  <title>Power Software - Payment Options</title>
  <meta name="Description" content="Power Software, Krakatau Software Metrics.  Check out - Payment Options">
  <meta name="Keywords" content="rsm,command line metrics,batch mode metrics,comprehension,relationships,documentation,source,code,visualizeit,reverse,engineering,software,metrics,cpp,java,metric,krakatau,clearcase,clear,case,visual,studio">
  <link href="../style.css" rel=stylesheet type=text/css>

  <SCRIPT Language="JavaScript">
  <!-- hide
     // JavaScript browser, although not necessarily 1.1
     var browserOK = false ; var sensImage ; var curImage ; var nSensImages = 0 ;
     var ImgOn = "../img/navx/select2.gif" ;
     var ImgOff = "../img/navx/go2.gif" ;
     var ImgClick = "../img/navx/go2.gif" ;
     function furtherInfo(fileName) {myWin=window.open(fileName, "displayWindow", "width=630,height=470,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no") ; }
  // -->
  </SCRIPT>
  <SCRIPT Language="JavaScript1.1">
  <!-- hide
     // JavaScript 1.1 browser
     browserOK = true ;  sensImage = new Array() ;
     sensImage[nSensImages++] = "B01" ;
     sensImage[nSensImages++] = "B06" ;
     sensImage[nSensImages++] = "B09" ;
     sensImage[nSensImages++] = "B02" ;
     sensImage[nSensImages++] = "B04" ;
  // -->
  </SCRIPT>
  <SCRIPT Language="JavaScript">
  <!-- hide
     function on( imageName ) { if (browserOK) for (i = 0; i < nSensImages; i++) if (document.images[sensImage[i]] != null) if ( sensImage[i] != imageName ) document.images[sensImage[i]].src = ImgOff ; else document.images[imageName].src = ImgOn ; }
     function click( imageName ) { if (browserOK) for (i = 0; i < nSensImages; i++) if (document.images[sensImage[i]] != null) if ( sensImage[i] != imageName ) document.images[sensImage[i]].src = ImgOff ; else document.images[imageName].src = ImgClick ; }
     function off() { if (browserOK) { for (i = 0; i < nSensImages; i++) if (document.images[sensImage[i]] != null) document.images[sensImage[i]].src = ImgOff ; } }
  //-->
  </SCRIPT>
</HEAD>

<Body  bgcolor="#ffffff" marginwidth=0 marginheight=0 topmargin=0 leftmargin=0 rightmargin=0>

	<TABLE border="0" bgcolor="#0066cc" width="100%" cellspacing=0 cellpadding=0>
		<TR valign=top>
			<TD rowspan="7"><img src="../img/f.gif" width="20"></TD>
			<TD colspan="3"><img src="../img/f.gif" height="20"></TD>
			<TD rowspan="3"><img src="../img/f.gif" width="20"></TD>
		</TR>
		<TR valign=top>
			<TD width="130"><img src="../img/loz02.gif"></TD>
			<TD colspan="2" width="100%" align=right><img src="../img/krakmet02.gif"></TD>
		</TR>
		<TR valign=top>
			<TD colspan="3"><img src="../img/f.gif" height="20"></TD>
		</TR>
		<TR valign=top>
			<TD width="130" ><img src="../img/f.gif" height="2"></TD>
			<TD bgcolor="#ffffff" rowspan="5"><img src="../img/f.gif" height="30"></TD>
			<TD bgcolor="#ffffff" rowspan="4"
			width="100%"><br>
<h2 class="narr"><font color="#999999">Power Software is pleased to offer the following methods of payment</font></h2>

<h3 class="narr"><font color="#555555">By Check, Bankers Draft or Money Order</font></h3>

<p class="narr">Please send checks by DHL, FEDEX, AMTRAK or other courier to</p>

<p class="narr"><b>Power Software Ltd<br>
8 Albert Street<br>
Aberdeen<br>
Scotland<br>
United Kingdom<br>
AB25 1XQ</b></p>

<p class="narr">Please make your payment payable to 'Power Software Ltd'</p>

<h3 class="narr"><font color="#555555">By Electronic Transfer of Funds</font></h3>

<p class="narr"><font color="#555555"><b>European</b></font> Orders payable in <font color="#555555"><b>UK pounds sterling</b></font></p>

<p class="narr">Bank details</p>

<table cellpadding=4 border=0>
<tr><td class="narr">Bank Account Number</td><td class="narr"><b>00237387</b></td></tr>
<tr><td class="narr">Bank Sort Code</td><td class="narr"><b>83 30 00</b></td></tr>
<tr><td class="narr">Bank Name</td><td class="narr"><b>Royal Bank of Scotland</b></td></tr>
<tr><td class="narr">Bank Address</td><td class="narr"><b>78 Union Street, Aberdeen, AB10 1HH</b></td></tr>
<tr><td class="narr">Account Name</td><td class="narr"><b>Power Software Ltd</b></td></tr>
</table>

<p class="narr"><font color="#555555"><b>US/Pacific region</b></font> orders payable in <font color="#555555"><b>US dollars</b></font></p>

<p class="narr">Bank details</p>

<table cellpadding=4 border=0>
<tr><td class="narr">Bank Account Number</td><td class="narr"><b>(Please leave this field blank)</b></td></tr>
<tr><td class="narr">Bank Sort Code</td><td class="narr"><b>83 30 00</b></td></tr>
<tr><td class="narr">Bank Name</td><td class="narr"><b>Royal Bank of Scotland</b></td></tr>
<tr><td class="narr">Bank Address</td><td class="narr"><b>78 Union Street, Aberdeen, AB10 1HH</b></td></tr>
<tr><td class="narr">Account Name</td><td class="narr"><b>Power Software Ltd</b></td></tr>
<tr><td class="narr">Account Reference</td><td class="narr"><b>POWERSOF - USDA</b></td></tr>
</table>

<!--
<h3 class="narr"><font color="#555555">By Credit Card</font></h3>

<p class="narr">Please see <a href="http://www.powersoftware.com/buy/">http://www.powersoftware.com/buy/</a>.</p>
--></TD>
			<TD bgcolor="#ffffff" rowspan="5" width="100%"><img src="../img/f.gif" height=1></TD>
		</TR>
        <TR valign=top>
		  <TD colspan="2" width="160"><TABLE border="0" cellspacing=0 cellpadding=0><TR valign=top><TD width="130" background="../img/navx/thin2.gif"><a class="nav" href="../" onMouseOut="off()"
               onMouseOver="on('B01')" onClick="click('B01')"><img border=0 src="../img/nav/home2_but.gif"></a></TD><TD width="30" valign=center><a class="nav" href="../" onMouseOut="off()"
               onMouseOver="on('B01')" onClick="click('B01')"><img border=0 name="B01" src="../img/navx/go2.gif"></a></TD></TR><TR valign=top><TD width="130" background="../img/navx/thin2.gif"><a class="nav" href="../products/" onMouseOut="off()"
               onMouseOver="on('B06')" onClick="click('B06')"><img border=0 src="../img/nav/prod2_but.gif"></a></TD><TD width="30" valign=center><a class="nav" href="../products/" onMouseOut="off()"
               onMouseOver="on('B06')" onClick="click('B06')"><img border=0 name="B06" src="../img/navx/go2.gif"></a></TD></TR><TR valign=top><TD width="130" background="../img/navx/thin2.gif"><a class="nav" href="../customers/" onMouseOut="off()"
               onMouseOver="on('B09')" onClick="click('B09')"><img border=0 src="../img/nav/cust2_but.gif"></a></TD><TD width="30" valign=center><a class="nav" href="../customers/" onMouseOut="off()"
               onMouseOver="on('B09')" onClick="click('B09')"><img border=0 name="B09" src="../img/navx/go2.gif"></a></TD></TR><TR valign=top><TD width="130" background="../img/navx/thin2.gif"><a class="nav" href="../download/" onMouseOut="off()"
               onMouseOver="on('B02')" onClick="click('B02')"><img border=0 src="../img/nav/down2_but.gif"></a></TD><TD width="30" valign=center><a class="nav" href="../download/" onMouseOut="off()"
               onMouseOver="on('B02')" onClick="click('B02')"><img border=0 name="B02" src="../img/navx/go2.gif"></a></TD></TR><tr><td><table border="0" cellspacing=0 cellpadding=3><tr><td>&nbsp;</td><td><img src="../img/f.gif" width=3 height=0></td><td class="nav">Payment Options</td></tr>
<tr><td>&nbsp;</td><td><img src="../img/f.gif" width=3 height=0></td><td><a href="../support/"class="nav">Support</a></td></tr></table></td><td bgcolor="#ffffff"><img border="0" src="../img/f.gif"></td></TR><TR valign=top><TD width="130" background="../img/navx/thin2.gif"><a class="nav" href="../contact/" onMouseOut="off()"
               onMouseOver="on('B04')" onClick="click('B04')"><img border=0 src="../img/nav/cont2_but.gif"></a></TD><TD width="30" valign=center><a class="nav" href="../contact/" onMouseOut="off()"
               onMouseOver="on('B04')" onClick="click('B04')"><img border=0 name="B04" src="../img/navx/go2.gif"></a></TD></TR></TABLE></TD>
		</TR>
		<TR>
			<TD width="130" class="frametext" align=center valign=bottom>Last Updated<BR>
			<B>31 Jan 2015</B><BR>&nbsp;</TD>
		</TR>
	</TABLE>
</BODY>
</HTML>
