<tr><td><table><tr><td class="narr"><h1 class="quote">&quot;We have a Clearcase
    project of over 5 million C/C++ source lines of code.

	Our custom in-house tool took over 2 hours to give VERY basic information.

	Krakatau Project Manager (PM) analyzed it comprehensively and formatted it into a
	Manager-friendly HTML format in a  quarter of that time. &nbsp;Krakatau PM gives us
	the SLOC count plus all the 'changed SLOC' between releases at the Project and
	File level.</h1>

	<h1 class="quote">&quot;We really like the information and functionality Krakatau PM gives us and, of
	course, the great support from Power Software.&nbsp;&nbsp;It's an extremely valuable tool!&quot;</h1>

	<h1 class="quote"><b>Karl Athanasiou</b></h1>

<h1 class="quote">&quot;I sincerely love Krakatau.  It's easy to use, it is fast, and it beats
the tar out of any tool we use here.  I've used a myriad of tools, both
homespun, created by the "Open Source" community and your software is
the fast, the most consistent, and the most reliable.  You can quote me
on that.  If I run the homespun tool, I could make a trip into Boston
shop for a few hours and come back, and it probably still wouldn't be
done.  Krakatau has saved me an INNUMERABLE amount of headaches.  My sanity
thanks you, as well as my friends and family.&quot;</h1>

	<h1 class="quote"><b>Nicholas K. Vaughan<br>Software Process Specialist</b></h1>