www.powersoftware.com/web/


<h3 class="narr">Background</h3>

<p class="narr">Power Software is a successful software products company selling technology
world-wide via the internet.  The internet has made it possible for us to supply products
manufactured in Aberdeen to numerous locations including our major market in the United States.
The internet also enables our prospective clients to find us quickly and to test our products
in real-time.</p>

<p class="narr">The conclusion of this highly effective process is on-line settlement using
credit cards.  This means our customers can find us, try our products and buy with the
minimum impact and overhead to our ongoing manufacturing process.</p>

<h3 class="narr">E-commerce</h3>

<p class="narr">We are now pleased to extend our expertise by offering a complete e-commerce
solution to businesses serious about using the internet for sales/marketing, product
supply and payment. Our major advantage is that we have already implemented a system and
tuned it based on over three years experience of internet business. You can see our main
site at http://www.powersoftware.com</p>

<p class="narr">Here are the components that we can provide</p>

<h3 class="narr">Home page</h3>

<p class="narr">This is the place to start. A home page can be considered to be a combination of
a business card and a corporate brochure.</p>

<p class="narr">It is a very cost-effective way of projecting your desired image.</p>

<p class="narr">If we look for benefits then there are no reprinting or postage costs with a
home page and it will never arrive all crumpled up having spent weeks in the post. It can be
viewed by anyone, anywhere and presents a consistent, high quality image. Also it can be
updated or changed whenever required.</p>

<p class="narr">A home page is also very expandable. Web technology lets you have as many
chapters to your home page as you like. This can include your services, products, customers
and general information. Great use can be made of pictures and images.</p>

<p class="narr">The main point is that this page is how the world sees you and must reflect
the image and business you want to project.</p>

<h3 class="narr">Search Engines</h3>

<p class="narr">The internet offers some very unique opportunities. One of these is the
ability for an interested party to find you without even knowing you exist.</p>

<p class="narr">Using a search engine and by simply typing in a 'word' or 'words'
associated with your business, interested parties will be presented with links that take
them to your homepage. You will then get a global audience and a new, welcome business
opportunity.</p>

<p class="narr">Here at Power Software, 75% of our new business is from internet searches and
internet newsgroups.</p>

<p class="narr">It would be impossible for us to achieve this business without the internet -
imagine US multinationals like IBM and Boeing seeking out an Aberdeen software house
without the internet?</p>

<p class="narr">In addition to search engine submission we are happy to advise on other
internet marketing mechanisms including newsgroups.</p>

<p class="narr">Try out a search engine at <a href="http://www.yahoo.com">http://www.yahoo.com</a></p>

<h3 class="narr">Technology</h3>

<p class="narr">If you want to use your site for commerce beyond corporate image and
finding new customers you can benefit from our back-end technology.</p>

<p class="narr">This lets you enter products, availability and prices onto your site
and start doing business over the web. Adding a credit card processing facility means that
revenue can start hitting your bank account without the need for expensive accounts or
invoicing personnel. Get it right and you will see an exponential increase in low
overhead sales of you products.</p>

<h3 class="narr">Support</h3>



<h3 class="narr">Summary</h3>

<p class="narr">The internet has many possibilities and all of these are positive to a
greater or lesser extent. If you want practical advise from a high level supplier
please contact <a href="mailto:web@powersoftware.com">web@powersoftware.com</a>
or call 01224 622201.</p>






