body {
  BACKGROUND-COLOR: #E6DEC4;
}

p, td {
  COLOR: #272D29;
  FONT-FAMILY: Tahoma, Arial, Helvetica;
  FONT-SIZE: 10pt;
  TEXT-DECORATION: none;
}

table.box {
  BORDER-BOTTOM:  #272D29 3px solid;
  BORDER-LEFT:    #272D29 3px solid;
  BORDER-RIGHT:   #272D29 3px solid;
  BORDER-TOP:     #272D29 3px solid;
}

img.box {
  BORDER-BOTTOM:  #272D29 1px solid;
  BORDER-LEFT:    #272D29 1px solid;
  BORDER-RIGHT:   #272D29 1px solid;
  BORDER-TOP:     #272D29 1px solid;
}

td.nav {
  BACKGROUND-COLOR: #272D29;
  COLOR: #29BDDE;
  FONT-WEIGHT: bold;
  TEXT-ALIGN: right;
}

td.main {
  BACKGROUND-COLOR: #F6F3E8;
}

td.annot {
  BACKGROUND-COLOR: #F6F3E8;
  FONT-SIZE: 8pt;
}

A.nav, A.nav:visited, A.nav:active, A.nav:link {
  COLOR: #EF8429; 
  FONT-WEIGHT: bold;
  TEXT-DECORATION: none;
}
A.nav:hover {
  COLOR: #FFD600;
  TEXT-DECORATION: none;
}

.cpyrght {
  COLOR: #74797C;
  FONT-SIZE: 8pt;
}

A, A:visited, A:active, A:link {
  COLOR: #4583DF; 
  FONT-WEIGHT: bold;
  TEXT-DECORATION: none;
}
A:hover {
  COLOR: #EB8029;
  TEXT-DECORATION: none;
}



td.titCat {
  BACKGROUND-COLOR: #D03108;
  COLOR: #FAD400;
  TEXT-ALIGN: center;
  FONT-WEIGHT: bold;
  BORDER-TOP:     #F59D05 2px solid;
  BORDER-LEFT:    #F59D05 2px solid;
  BORDER-BOTTOM:  #FAD400 2px solid;
  BORDER-RIGHT:   #FAD400 2px solid;
}

td.titBrand {
  BACKGROUND-COLOR: #FF0000;
  COLOR: #FFFFFF;
  TEXT-ALIGN: center;
  FONT-WEIGHT: bold;
}

table.mnu {
  COLOR: #33BB33;
  BACKGROUND-COLOR: #272D29;
  BORDER-TOP:     #FAD400 2px solid;
  BORDER-LEFT:    #FAD400 2px solid;
  BORDER-BOTTOM:  #F59D05 2px solid;
  BORDER-RIGHT:   #F59D05 2px solid;
}

td.mnu {
  COLOR: #33BB33;
  BACKGROUND-COLOR: #FEBB77;
  BORDER-TOP:     #FAD400 2px solid;
  BORDER-LEFT:    #FAD400 2px solid;
  BORDER-BOTTOM:  #F59D05 2px solid;
  BORDER-RIGHT:   #F59D05 2px solid;
}

td.box {
  BORDER-TOP:     #FAD400 2px solid;
  BORDER-LEFT:    #FAD400 2px solid;
  BORDER-BOTTOM:  #F59D05 2px solid;
  BORDER-RIGHT:   #F59D05 2px solid;
}

td.helpTitle {
  COLOR: #FEBB77;
  BACKGROUND-COLOR: #D03108;
  FONT-WEIGHT: bold;
  TEXT-ALIGN:  center;
}

table.help {
  COLOR: #33BB33;
  BACKGROUND-COLOR: #FEBB77;
  BORDER-TOP:     #FAD400 2px solid;
  BORDER-LEFT:    #FAD400 2px solid;
  BORDER-BOTTOM:  #F59D05 2px solid;
  BORDER-RIGHT:   #F59D05 2px solid;
  FONT-SIZE:      7pt;  
}

INPUT {
  BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TEXTAREA {
  BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
SELECT {
  BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}

