<br>
<img src="../img/title/doc.gif" border=0><br><br>

<p class="narr">Power Software has prepared some documents to answer
common questions regarding the products that we supply.</p>

<p class="narr">To view these documents please click on the
corresponding document in the nevigation bar on the left.</p>

<p class="narr">To download a copy of these documents choose your desired format below.</p>

<TABLE border="1" cellspacing=2 cellpadding=2>
  <TR valign=center>
    <TD valign=top><b>MS Word</b></TD>
    <TD valign=top><b>Adobe PDF</b></TD>
    <TD><b>Description</b></TD>
  </TR>
<!--
  <TR valign=center>
    <TD align=center valign=top><a href="./price/pricelist.doc"><img src="../img/doc.gif" border=0></TD>
    <TD align=center valign=top><a href="./price/pricelist.pdf"><img src="../img/pdf2.gif" border=0></TD>
    <TD class="narr">Details on product prices and our pricing model.</TD>
  </TR>
-->
  <TR valign=center>
    <TD align=center valign=top><a href="./license/license.doc"><img src="../img/doc.gif" border=0></TD>
    <TD align=center valign=top><a href="./license/license.pdf"><img src="../img/pdf2.gif" border=0></TD>
    <TD class="narr">An explanation and detailed guide to licensing.</TD>
  </TR>
  <TR valign=center>
    <TD align=center valign=top><a href="./justify/justify.doc"><img src="../img/doc.gif" border=0></TD>
    <TD align=center valign=top><a href="./justify/justify.pdf"><img src="../img/pdf2.gif" border=0></TD>
    <TD class="narr">Product overview for help in justification and positioning of our products.</TD>
  </TR>
  <TR valign=center>
    <TD align=center valign=top>&nbsp;<!--<a href="./ps/PowerSoftware.doc"><img src="../img/doc.gif" border=0>--></TD>
    <TD align=center valign=top><a href="./ps/PowerSoftware.pdf"><img src="../img/pdf2.gif" border=0></TD>
    <TD class="narr">Power Sofware company information.</TD>
  </TR>
  <TR valign=center>
    <TD align=center valign=top><a href="./comp/comp.xls"><img src="../img/doc.gif" border=0></TD>
    <TD align=center valign=top><a href="./comp/comp.pdf"><img src="../img/pdf2.gif" border=0></TD>
    <TD class="narr">Feature comparison of the Krakatau Suite.</TD>
  </TR>
</TABLE>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>