<table border=0 cellspacing=0 cellpadding=1 width="100%">
  <tr>
  </tr><tr>
    <td width="25%">46 Raddens Road</td>
    <td width="50%" rowspan=4 align=center><img src="./img/mwmf.gif" border=0 width=102 height=82></td>
    <td class=fld>Tel</td><td>+44 (0) 121 421 2333</td>
  </tr><tr>
    <td>Halesowen</td>
    <td class=fld>Fax</td><td>+44 (0) 121 421 3555</td>
  </tr><tr>
    <td>B62 0AN</td>
    <td colspan=2>&nbsp;</td>
  </tr><tr>
    <td>England</td>
    <td class=fld>Email&nbsp;</td><td><a href="mailto:sales@mwmf.co.uk">sales@mwmf.co.uk</a></td>
  </tr><tr valign=top height=30><td colspan=4>&nbsp;</td>
  </tr><tr>
    <td colspan=4><table border=1 cellpadding=4 width="100%">
      <tr><td>We would be delighted to hear from you if you have any questions...</td></tr>
    </table></td>
  </tr>
</table>