<table border=0 cellspacing=0 cellpadding=3 width="100%">
  <tr>
    <!--<td colspan=3 align=center><img src="./img/mwmf_lg.gif" border=0 width=175 height=139></td>-->
    <td colspan=3 align=center><img src="./img/mwmf.gif" border=0 width=102 height=82></td>
  </tr><tr>
    <td colspan=3 class=t1>UK-based importers and distributors of:</td>
  </tr><tr valign=middle>
    <td>
      <ul>
        <li>Electric Filter Machines</li>
        <li>Stove-top Expresso Makers</li>
        <li>Coffee Grinders and Mills</li>
        <li>Filter Papers</li>
        <li>Plastic Filter Cones</li>
        <li>Replacement Glass Jugs</li>
        <li>Descaler, Coffee Measures</li>
        <li>Milk Frothers, Cocoa Shakers and other accessories</li>
      </ul>
    </td>
    <td colspan=2 align=center><img src="./img/beancoff8.gif" border=0 width=102 height=151></td>
  </tr><tr valign=top><td colspan=3><!--<table align=center border=0 class=exBg cellpadding=2>
    <tr><td colspan=2 align=center>See us at <b>BSA Eurobev Show</b></td>
    <tr><td colspan=2 align=center>October 19<sup>th</sup> &amp; 20<sup>th</sup> 2005 - Stand <b>F1</b></td>
    <tr>
      <td><a target="_blank" href="http://www.beverageserviceassociation.com/"><img border=0 src="./img/ex/bsa052.gif"></a></td>
      <td><a target="_blank" href="http://www.beverageserviceassociation.com/"><img border=0 src="./img/ex/bsa051.gif"></a></td>
    </tr>
  </table>-->&nbsp;</td>
  </tr><tr>
    <td class=fld>MidWest Market Force Ltd</td>
    <td colspan=2>&nbsp;</td>
  </tr><tr>
    <td>18A Lanchester Way</td>
    <td class=fld>Tel</td><td>+44 (0) 1327 437 171</td>
  </tr><tr>
    <td>Royal Oak Industrial Estate</td>
    <td class=fld>Mob</td><td>+44 (0) 790 44 818 91</td>
  </tr><tr>
    <td>Daventry</td>
    <td colspan=2>&nbsp;</td>
  </tr><tr>
    <td>NN11 8PH</td>
    <td class=fld>Email</td><td><a href="mailto:sales@mwmf.co.uk">sales@mwmf.co.uk</a></td>
  </tr>
  <tr>
  <td colspan="3" align="center"><img src="img/premises2.jpg"></td>
  </tr>
</table>