body, p, table, td {
  COLOR: #000000;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 8pt;
  TEXT-DECORATION: none
}

td.fld {
  FONT-WEIGHT: bold;
}

td.t1 {
  FONT-SIZE: 10pt;
  FONT-WEIGHT: bold;
}

table.pr {
  BACKGROUND-COLOR: #EEF9FF;
  BORDER-BOTTOM: #000000 1px solid;
  BORDER-LEFT: #000000 1px solid;
  BORDER-RIGHT: #000000 1px solid;
  BORDER-TOP: #000000 1px solid;
}

td.prTit {
  COLOR: #FFFFFF;
  BACKGROUND-COLOR: #663333;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold;
  TEXT-ALIGN: center ;
}

td.prName {
  COLOR: #663333;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold;
  TEXT-ALIGN: center ;
}

td.prVal {
  COLOR: #000000;
  FONT-SIZE: 8pt;
  TEXT-ALIGN: center ;
}

td.catText {
  FONT-SIZE: 8pt;
}

td.navText {
  COLOR: #FFFFFF;
}

td.reqdNormal {
  FONT-WEIGHT: bold;
}

td.reqdMissing {
  COLOR: #FF0000;
  FONT-WEIGHT: bold;
}

p.phoneNo {
  FONT-SIZE: 16pt;
  FONT-WEIGHT: bold
}

td.sel {
  COLOR: #FF0000;
  FONT-WEIGHT: bold;
}

.titleBand {
  BACKGROUND-COLOR: #AACCCC;
}

.pageBg {
  BACKGROUND-COLOR: #FFFFFF;
  BORDER-BOTTOM: #000000 2px solid;
  BORDER-LEFT: #000000 2px solid;
  BORDER-RIGHT: #000000 2px solid;
  BORDER-TOP: #000000 2px solid;
}

.navBg {
  BACKGROUND-COLOR: #EEF9FF;
  BORDER-BOTTOM: #000000 0px solid;
  BORDER-LEFT: #000000 0px solid;
  BORDER-RIGHT: #000000 1px dashed;
  BORDER-TOP: #000000 0px solid;
}

.exBg {
  BORDER-BOTTOM: #009999 1px dashed;
  BORDER-LEFT: #009999 1px dashed;
  BORDER-RIGHT: #009999 1px dashed;
  BORDER-TOP: #009999 1px dashed;
}

td.btitle {
  COLOR: #FFFFFF;
  BACKGROUND-COLOR: #99BABA;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold;
  TEXT-ALIGN: center;
}

td.bname {
  COLOR: #663333;
  BACKGROUND-COLOR: #FFFFFF;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 7pt;
  FONT-WEIGHT: bold;
  TEXT-ALIGN: center;
}

td.sub {
  COLOR: #FF0000;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold
}

td.pageTitle {
  COLOR: #444444;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10pt;
  FONT-WEIGHT: bold
}


h1 {
  COLOR: #444444;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 12pt;
  TEXT-DECORATION: none
}
h2 {
  COLOR: #444444;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10pt;
  TEXT-DECORATION: none
}

td.cpyrght {
  COLOR: #333333;
  FONT-SIZE: 7pt;
}

td.cat {
  COLOR: #333333;
  FONT-SIZE: 12pt;
  FONT-WEIGHT: bold
}

td.gb {
  COLOR: #444444;
  FONT-FAMILY: Arial, Helvetica;
  FONT-SIZE: 9pt;
  FONT-WEIGHT: bold
}

td.gbt {
  COLOR: #FFCC66;
  BACKGROUND-COLOR: #666666;
  FONT-FAMILY: Arial, Helvetica;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold ;
}

td.gbtr {
  COLOR: #FFCC66;
  BACKGROUND-COLOR: #666666;
  FONT-FAMILY: Arial, Helvetica;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold;
  TEXT-ALIGN: right;
}


A,A:visited,A:active,A:link {
  COLOR: #009999;
  TEXT-DECORATION: none;
  FONT-WEIGHT: bold;
}
A:hover {
  COLOR: #FF0000;
  TEXT-DECORATION: underline;
}

A.sub,A.sub:visited,A.sub:active,A.sub:link {
  FONT-SIZE: 8pt;
  COLOR: #009999;
  TEXT-DECORATION: none;
  FONT-WEIGHT: bold;
}
A.sub:hover {
  COLOR: #007474;
  TEXT-DECORATION: underline;
}


A.nav,A.nav:visited,A.nav:active,A.nav:link {
  COLOR: #009999;
  TEXT-DECORATION: none;
  FONT-WEIGHT: bold;
}
A.nav:hover {
  COLOR: #007474;
  TEXT-DECORATION: underline;
}

INPUT {
  BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TEXTAREA {
  BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
SELECT {
  BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 9pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
