* { font-family: serif; font-size: 1.05em; text-align: left; } 
@page { margin: 5pt  0pt  5pt  0pt; } 
body { margin: 0 auto; padding: 0.75em 3%; } 

p { font-family: Serif; padding: 0; line-height: 1.25em; text-align: left; text-indent:0em; margin: 0 0 0.5em 0; } 

p.hymnno { font-family: sans-serif; font-size: 1.5em; font-weight: bold; margin: 0px; padding: 0px; }
p.meter { font-size: 1em; text-align: right; margin: 0px; padding: 0px;}
p.author { font-family: sans-serif; font-size: 0.8em; font-weight: bold; }
p.authorlife { font-family: sans-serif; font-size: 0.8em; font-style: italic; }

ol {
  margin:0px;
}

li 
{
  margin-left: 5px;
  font-size: 1.2em;
}

.verse 
{
  font-size: 0.8em;
}

p.chorus 
{  
  font-style: italic;
}

