<br>
<img src="../img/title/down.gif" border=0><br><br>

<table cellspacing=0 border=0 cellpadding=10 width=100%>
<td class="narr">

<FORM name="dload" action="/cgi-bin/download.pl" method=post>
<TABLE cellspacing=4 cellpadding=0 border=0>
<tr valign=top>
<td class="fldlbl" valign=center>Your name</TD>
<td class="narr" valign=center><INPUT type=text name=name size=25></TD>
<td align=left><img src="../img/mandatory.gif"></TD>
</TR>

<TR valign=top>
<td class="fldlbl" valign=center>Email address</TD>
<td class="narr" valign=center><INPUT type=text name=email size=40></TD>
<td align=left><img src="../img/mandatory.gif"></TD>
</TR>

<TR valign=top>
<td class="fldlbl" valign=center>Company name</TD>
<td class="narr" valign=center><INPUT type=text name=company size=25></TD>
<td align=left><img src="../img/mandatory.gif"></TD>
</TR>

<!--
<TR valign=top>
<td class="narr" valign=center>Address</TD>
<td class="narr" valign=center><TEXTAREA name=address wrap=physical rows=6
cols=34></TEXTAREA></TD>
<td align=left><img src="../img/f.gif"></TD>
</TR>
-->

<TR valign=top>
<td class="fldlbl" valign=center>Phone no.<br></TD>
<td class="narr" valign=center><INPUT type=text name=phone size=25></TD>
<td align=left><img src="../img/mandatory.gif"></TD>
</TR>

<TR valign=top>
<td class="fldlbl" valign=center>Job Title<br></TD>
<td class="narr" valign=center><INPUT type=text name=job size=25></TD>
<td align=left><img src="../img/f.gif"></TD>
</TR>

<tr valign=top>
<td class="fldlbl" valign=center>How did you<br>hear about us?</td>
<td class="narr" valign=center>
  <input type=radio name="radSrch" onclick="populateSearch();">Search Engine&nbsp;
  <input type=radio name="radColl" onclick="populateColleague();">Colleague&nbsp;
  <input type=checkbox name="radEmail">Grey Matter<br>
  <select name=lead size=1 onChange="moveToNextField();">
    <option>(Pick One)
    <option>Other
  </select><br>

  <p class="fldlbl">If Other, please specify<br><input type=text name=leadother size=40></p></td>
<td align=left><img src="../img/f.gif"></TD>
</tr>

</table>

<table>
<tr valign=top>
<td class="narr" valign=center>Which of these languages do you use in your project?</td>
<td class="narr" valign=center>
<input type=checkbox name=langc value="y">ANSI&nbsp;C
<input type=checkbox name=langcpp value="y">C++
<input type=checkbox name=langjava value="y">Java
<input type=checkbox name=langcsharp value="y">C#
<input type=checkbox name=langperl value="y">Perl
<input type=checkbox name=langtcl value="y">Tcl
<input type=checkbox name=langsql value="y">SQL
<input type=checkbox name=langvb value="y">Visual&nbsp;Basic

</td></tr>
</table>

<table>
<tr valign=top>
<td class="narr" valign=center>Approximately how many developers are involved in your project?</td>
<td class="narr" valign=center><select name=users size=1>
<option>1
<option>2-5
<option>6-10
<option>11-30
<option>31-100
<option>&gt;100
</select></td>
</tr>
</table>

<p class="narr">&nbsp;Please select the products you wish to download</p>
<TABLE cellspacing=8 cellpadding=0 border=0>

<TR VALIGN=TOP>

<TD><table border=0 cellspacing=3 cellpadding=0>

<tr><td colspan=3 class="dlProduct"><img alt="Essential Metrics" src="../img/prod/small_epm.gif"></td></tr>

<tr><td colspan=3 background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Krakatau EPM Edition Version 1.12</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=emwinkepm value="y"></td>
   <td class="narr">ADA, Assembly, ASP, C#, C/C++, CSS, Fortran, IDL, HTML, Java, JavaScript, JSP, Perl, PHP, PL/SQL, Python, Ruby, ShellScript, Textfiles, VB6 / VB.NET / VBScript, VHDL, Windows Batch &amp; XML for Windows NT/2000/XP/2003/<span class="hotnew">Vista</span>
   <div style="color:6699CC">(1.12.4.0 24-Nov-09)</div></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>PM Edition Version 1.19</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=emwinepm value="y"></td>
   <td class="narr">ADA, Assembly, ASP, C#, C/C++, CSS, Fortran, IDL, HTML, Java, JavaScript, JSP, Perl, PHP, PL/SQL, Python, Ruby, ShellScript, Textfiles, VB6 / VB.NET / VBScript, VHDL, Windows Batch &amp; XML for Windows NT/2000/XP/2003/<span class="hotnew">Vista</span>
   <div style="color:6699CC">(1.19.4.0 24-Nov-09)</div></td></tr>

</table></TD>

<TD>

<table border=0 cellspacing=3 cellpadding=0>

<tr><td colspan=3 class="dlProduct"><img alt="Essential Metrics" src="../img/prod/small_em.gif"></td></tr>

<tr><td colspan=3 background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 1.1</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=emwincppv1 value="y"></td>
   <td class="narr">C/C++ for Windows NT/2000/XP/2003
   <div style="color:6699CC">(1.00.003 12-Jun-08)</div></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=emwinjavav1 value="y"></td>
   <td class="narr">Java for Windows NT/2000/XP/2003
   <div style="color:6699CC">(1.00.003 12-Jun-08)</div></td></tr>

</table>

</TD></tr>

<tr><td colspan=2 bgcolor="999999" background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>
<tr><td colspan=2 bgcolor="FFFFFF" background="../img/f.gif" height=15><img src="../img/f.gif"
 height=1 width=1></td></tr>


<TR VALIGN=TOP><TD>
<table border=0 cellspacing=3 cellpadding=0>
<!--
<tr><td colspan=3 class="dlProduct">Krakatau Professional</td></tr>
-->
<tr><td colspan=3 class="dlProduct"><img alt="Krakatau Professional" src="../img/prod/small_kp.gif"></td></tr>

<tr><td colspan=3  background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.11</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kpwincppv2 value="y"></td>
   <td class="narr">C/C++ for Windows NT/2000/XP/2003
   <div style="color:6699CC">(2.11.005 12-Jun-08)</div></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kpwinjavav2 value="y"></td>
   <td class="narr">Java for Windows NT/2000/XP/2003
   <div style="color:6699CC">(2.11.003 12-Jun-08)</div></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.1</b></td></tr>

<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kpsolcppv2 value="y"></td>
   <td class="narr">C/C++ for Solaris</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=kpsoljavav2 value="y"></td>
   <td class="narr">Java for Solaris</td></tr>

</table>

</TD><TD width="50%">

<!--<table border=0 cellspacing=1><tr><td background="../img/f.gif" height=1
 bgcolor="0077cc"><img src="../img/f.gif" height=1 width=1>-->

 <table border=0 cellspacing=3 cellpadding=0 bgcolor="FFFFFF">

<!--
<tr><td colspan=3 class="dlProduct">Krakatau Project Manager</td></tr>
-->
<tr><td colspan=3 class="dlProduct"><img alt="Krakatau Project Manager" src="../img/prod/small_pm.gif"></td></tr>

<tr><td colspan=3  background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.2</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmwincppv2 value="y"></td>
   <td class="narr">C/C++ for Windows 95/98/NT/2000</td></tr>

<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmwinjavav2 value="y"></td>
   <td class="narr">Java for Windows 95/98/NT/2000</td></tr>

<!--<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 3.0 Beta</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmwincppv3 value="y"></td>
   <td class="narr">C/C++ for Windows 95/98/NT/2000</td></tr>

<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmwinjavav3 value="y"></td>
   <td class="narr">Java for Windows 95/98/NT/2000</td></tr>
-->
<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.1</b></td></tr>

<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmsolcppv2 value="y"></td>
   <td class="narr">C/C++ for Solaris</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmsoljavav2 value="y"></td>
   <td class="narr">Java for Solaris</td></tr>

<!--<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Subproject Edition</b></td></tr>

<tr><td>&nbsp;</td><td><INPUT type=checkbox name=pmpwincppv2 value="y"></td>
   <td class="narr">C/C++ for Windows NT/2000</td></tr>

<tr><td colspan=3 class="narr">For information about the Subproject Edition,<br>please contact
  <a href="mailto:craig.mckay@powersoftware.com">support@powersoftware.com</a>.</td></tr>-->

<!--<tr><td colspan=3 class="narr"><br>For further information, <a href="pm/faq.html">see FAQ</a>.</td></tr>-->

<!--</table></td></tr>--></table>

</TD></tr>

<tr><td colspan=2 bgcolor="999999" background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>
<tr><td colspan=2 bgcolor="FFFFFF" background="../img/f.gif" height=15><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr VALIGN=TOP><TD>

<table border=0 cellspacing=3 cellpadding=0>

<!--
<tr><td colspan=3 class="dlProduct">Krakatau Lite</td></tr>
-->
<tr><td colspan=3 class="dlProduct"><img alt="Krakatau Lite" src="../img/prod/small_kl.gif"></td></tr>

<tr><td colspan=3  background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.1</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=klwincppv2 value="y"></td>
   <td class="narr">C/C++ for Windows NT/2000</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=klwinjavav2 value="y"></td>
   <td class="narr">Java for Windows NT/2000</td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 2.01</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=klsolcppv2 value="y"></td>
   <td class="narr">C/C++ for Solaris</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=klsoljavav2 value="y"></td>
   <td class="narr">Java for Solaris</td></tr>

</table></td>

<TD>
<table border=0 cellspacing=3 cellpadding=0>
<tr><td colspan=3 class="dlProduct"><img alt="Visualize it!" src="../img/prod/small_vz.gif"></td></tr>

<tr><td colspan=3 background="../img/f.gif" height=2><img src="../img/f.gif"
 height=1 width=1></td></tr>

<tr><td>&nbsp;</td><td colspan=2 class="dlVersion"><b>Version 1.0</b></td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=vzwinjava value="y"></td>
   <td class="narr">for Java (Windows NT/2000)</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=vzwin9java value="y"></td>
   <td class="narr">for Java (Windows 95/98)</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=vzlnxjava value="y"></td>
   <td class="narr">for Java (Linux)</td></tr>
<tr><td>&nbsp;</td><td><INPUT type=checkbox name=vzsoljava value="y"></td>
   <td class="narr">for Java (Solaris)</td></tr>

</table>
</TD>


<TR><TD colspan=2><table border=0 cellspacing=3 cellpadding=0>

<tr><td><img alt="FLEXlm" src="../img/mv_flexlm.gif"></td></tr>

<tr><td class="narr">Please read either the <a href="../download/flexlm/enduser.pdf">FLEXlm End User guide</a>
or consult the
<a href="http://www.macrovision.com/services/support/flexlm/lmgrd.shtml">Macrovision Support site</a> for
queries pertaining to FLEXlm installation.</td></tr>

<tr><td class="narr">You may download the Krakatau daemons for Floating License Servers directly from this page:
<a href="http://www.powersoftware.com/download/KRAKATAU.gz">KRAKATAU for Unix</a>
and
<a href="http://www.powersoftware.com/download/krakatau.zip">krakatau.exe for Windows</a>.</td></tr>


</table></TD>

</tr>

</TABLE>

<p class="narr">On certain Operating Systems patches may be needed for the Java Runtime system, see <a href="#Note2">Note 2</a> for more details.<p class="narr">

<input type=submit value="Download">
<input type=reset value="Clear form">
<p class="narr"></FORM>
<p class="narr"><a NAME="Note1"></a><b>Note 1 </b><u>Your Requirements</u>
<p class="narr">To discuss your requirements further, please contact <a href=mailto:objects@powersoftware.com>objects@powersoftware.com</a>.

<p class="narr"><a NAME="Note2"></a><b>Note 2 </b><u>Operating Systems Requirements for Java Runtime</u>
<p class="narr">There are several Operating System patches for the Java Runtime system
which you may need to install.<p class="narr">These are as follows:
<p class="narr"><u>SUN Solaris Sparc</u>
<p class="narr">Patches may be required for the Java runtime environment on the SUN Sparc Solaris operating systems. You
can use the:<p class="narr"><t>showrev -p<p class="narr">command to check which patches are currently installed on your
operating system. For more information, see <a href="http://www.sun.com/solaris/java">http://www.sun.com/solaris/java</a>
<p class="narr"><u>HP-UX 10.20</u>
<p class="narr">On HP-UX 10.20 systems you might need some operating system patches for Java runtime.

</td></tr></table>