<br>
<h2 class="narr"><font color="#999999">Power Software is pleased to offer the following methods of payment</font></h2>

<h3 class="narr"><font color="#555555">By Check, Bankers Draft or Money Order</font></h3>

<p class="narr">Please send checks by DHL, FEDEX, AMTRAK or other courier to</p>

<p class="narr"><b>Power Software Ltd<br>
8 Albert Street<br>
Aberdeen<br>
Scotland<br>
United Kingdom<br>
AB25 1XQ</b></p>

<p class="narr">Please make your payment payable to 'Power Software Ltd'</p>

<h3 class="narr"><font color="#555555">By Electronic Transfer of Funds</font></h3>

<p class="narr"><font color="#555555"><b>European</b></font> Orders payable in <font color="#555555"><b>UK pounds sterling</b></font></p>

<p class="narr">Bank details</p>

<table cellpadding=4 border=0>
<tr><td class="narr">Bank Account Number</td><td class="narr"><b>00237387</b></td></tr>
<tr><td class="narr">Bank Sort Code</td><td class="narr"><b>83 30 00</b></td></tr>
<tr><td class="narr">Bank Name</td><td class="narr"><b>Royal Bank of Scotland</b></td></tr>
<tr><td class="narr">Bank Address</td><td class="narr"><b>78 Union Street, Aberdeen, AB10 1HH</b></td></tr>
<tr><td class="narr">Account Name</td><td class="narr"><b>Power Software Ltd</b></td></tr>
</table>

<p class="narr"><font color="#555555"><b>US/Pacific region</b></font> orders payable in <font color="#555555"><b>US dollars</b></font></p>

<p class="narr">Bank details</p>

<table cellpadding=4 border=0>
<tr><td class="narr">Bank Account Number</td><td class="narr"><b>(Please leave this field blank)</b></td></tr>
<tr><td class="narr">Bank Sort Code</td><td class="narr"><b>83 30 00</b></td></tr>
<tr><td class="narr">Bank Name</td><td class="narr"><b>Royal Bank of Scotland</b></td></tr>
<tr><td class="narr">Bank Address</td><td class="narr"><b>78 Union Street, Aberdeen, AB10 1HH</b></td></tr>
<tr><td class="narr">Account Name</td><td class="narr"><b>Power Software Ltd</b></td></tr>
<tr><td class="narr">Account Reference</td><td class="narr"><b>POWERSOF - USDA</b></td></tr>
</table>

<!--
<h3 class="narr"><font color="#555555">By Credit Card</font></h3>

<p class="narr">Please see <a href="http://www.powersoftware.com/buy/">http://www.powersoftware.com/buy/</a>.</p>
-->