<br>
<img src="../img/title/exec.gif" border=0><br><br>


<table border=1 cellspacing=1 cellpadding=12 bgcolor="#0077cc">

<tr>

<td colspan=2 width="50%" bgcolor="#FFFFFF" valign=center>
<!--
<h3 class="exec">Licensing</h3>
-->

<p class="exec"><font color="#0055aa">
<font color="#444444"><b><i>Essential Project Manager</i></b></font>,
<font color="#444444"><b><i>Krakatau Project Manager</i></b></font> and
<font color="#444444"><b><i>Krakatau Professional</i></b></font> are designed to work with major projects
across operating systems.  Krakatau products offer
<font color="#444444"><b><i>unlimited scalability</i></b></font> (millions of lines of
<font color="#444444"><b><i>Ada</i></b></font>,
<font color="#444444"><b><i>C/C++</i></b></font>,
<font color="#444444"><b><i>C#</i></b></font>,
<font color="#444444"><b><i>Java</i></b></font> or
<font color="#444444"><b><i>Visual Basic</i></b></font> or
<font color="#444444"><b><i>PL/SQL</i></b></font>) and run on the popular
<font color="#444444"><b><i>Windows 2000/NT/XP/2003</i></b></font> and
<font color="#444444"><b><i>SUN Solaris</i></b></font> platforms.</font></p></td>

</tr><tr>

<td width="50%" bgcolor="#FFFFFF" valign=top>

<table border=0 cellpadding=5 cellspacing=0 width="100%">
<tr>
<td><a href="http://www.powersoftware.com/kepm/"><img src="../img/prod/logo_kepm_small.gif" border=0></a></td>
<td align=right><table border=0 cellspacing=0 cellpadding=5>
  <tr>
    <td align=right><a href="javaScript:showFlash('./../kepm/kepm.swf','Krakatau EPM','Krakatau EPM Demo', 'Products', 1216, 943);"><img src="../img/flash_off.png" width=30 height=30 onmouseover="this.src='../img/flash_on.png';" onmouseout="this.src='../img/flash_off.png';" border=0></a></td>
    <td class="narr"><a href="javaScript:showFlash('./../kepm/kepm.swf','Krakatau EPM','Krakatau EPM Demo', 'Products', 1216, 943);">View Flash Demo</a></td>
  </tr>
</table></td>
</tr>
</table>

<p class="exec"><font color="#444444"><b><i>Krakatau Essential PM</i></b></font> is our flagship graphical
metrics tool.</p>

<p class="exec"><font color="#444444"><b><i>KEPM</i></b></font> is more than a graphical front-end to EPM,
it is an essential component of the CMVC professional's toolkit.</p>

<p class="exec">All the metrics provided by
our popular Essential Project Manager (EPM) tool including the unique
<a href="../epm/epm_chg_ex.pdf">Changed SLOC metrics</a> are offered by <font color="#444444"><b><i>KEPM</i></b></font>,
as well as the '<font color="#444444"><b><i>differences</i></b></font>' in the metrics between releases.</p>

<p class="exec"><font color="#444444"><b><i>Krakatau Essential PM</i></b></font> also includes a wide
range of source code metrics like Halstead size metrics and numerous LOC metrics.</p>

</td>

<td width="50%" bgcolor="#FFFFFF" valign=top>

<a href="http://www.powersoftware.com/epm/"><img src="../img/prod/logo_epm_small.gif" border=0></a><br>

<p class="exec"><font color="#444444"><b><i>Essential Project Manager</i></b></font> is our latest,
command line metrics tool.</p>

<p class="exec"><font color="#444444"><b><i>EPM</i></b></font> combines the simplicity and elegance of
our popular Essential Metrics tool with the unique
<a href="../epm/epm_chg_ex.pdf">Changed SLOC metrics</a> of our market-leading
Project Manager products.</p>

<p class="exec">Designed for use by CMVC (including Clearcase) professionals as well as software
quality devotees, <font color="#444444"><b><i>EPM</i></b></font> is a great new edition to our
portfolio designed to improve and protect your source code investment.</p>

</tr><tr>

<td width="50%" bgcolor="#FFFFFF" valign=top>

<a href="http://www.powersoftware.com/em/"><img src="../img/prod/logo_em.gif" border=0></a><br>

<p class="exec"><font color="#444444"><b><i>Essential Metrics</i></b></font> is an advanced
command line metrics tool for C/C++ and Java software projects.</h3>

<p class="exec">Invoked directly at the command line,
<font color="#444444"><b><i>Essential Metrics</i></b></font> delivers numerous
popular metrics and allows these to be reported using CSV, HTML and XML.</p>

<p class="exec"><font color="#444444"><b><i>Essential Metrics</i></b></font> is ideal for
inclusion in your batch/build process for automated metric results.</p>

<p class="exec">View the Flash presentation at <a href="../em/" class="hotnew">www.powersoftware.com/em/</a>.</p></td>

</td>

<td width="50%" bgcolor="#FFFFFF" valign=top>
<!--
<h3 class="exec">Krakatau Project Manager</h3>
-->

<a href="http://www.powersoftware.com/pm/"><img src="../img/prod/logo_pm1.gif" height=40 border=0></a><br>

<p class="exec"><font color="#444444"><b><i>Krakatau Project Manager</i></b></font> is the only
source code metrics tool that compares two C/C++ or Java projects and shows the
'<font color="#444444"><b><i>changed, deleted and added SLOC</i></b></font>' between the
projects. These changed metrics give essential information about developer activity and can
be used to pinpoint problem areas in your source code projects.</p>

<p class="exec">Krakatau Project Manager was designed and specified by our customers
and is ideal for use with leading CMVC tools like <font color="#444444"><b><i>ClearCase</i></b></font> from Rational Corporation. </p>

<p class="exec">The <font color="#444444"><b><i>CHG_SLOC</i></b></font>,
<font color="#444444"><b><i>ADD_SLOC</i></b></font> and
<font color="#444444"><b><i>DEL_SLOC</i></b></font> metrics are unique to Power Software and
Krakatau PM.</p></td>

</tr><tr>

<td width="50%" bgcolor="#FFFFFF" valign=top>
<!--
<h3 class="exec">Krakatau Professional</h3>
-->

<a href="http://www.powersoftware.com/kp/"><img src="../img/prod/logo_kp1.gif" height=40 border=0></a><br>

<p class="exec"><font color="#444444"><b><i>Krakatau Professional</i></b></font> is the most
comprehensive, commercially supported source code metrics tool for C/C++ and Java projects.</p>

<p class="exec">Krakatau Professional is <font color="#444444"><b><i>scalable</i></b></font> to millions of source lines of
code and has <font color="#444444"><b><i>over 70 source code measurements</i></b></font> including Halstead size metrics,
complexity and <font color="#444444"><b><i>advanced object-oriented metrics</i></b></font>.</p>

<p class="exec">Metrics can be collected at the <font color="#444444"><b><i>command line</i></b></font> or using our
<font color="#444444"><b><i>specially designed GUI</i></b></font> featuring histograms, kiviat diagrams and numerical reports.</p>

<p class="exec"><font color="#444444"><b><i>Violating metrics reports</i></b></font> can be created by
setting upper and lower bounds and all metrics can be sorted and selected/deselected.</p>

<p class="exec">Output is to html (for intranets) or CDF/CSV (for spreadsheets or PC
anaylsis applications).</p>

<p class="exec">Krakatau Professional is aimed at the <font color="#444444"><b><i>Class, Method and Interface level
metrics</i></b></font>.</p></td>

<!--
<td width="50%" bgcolor="#FFFFFF" valign=top>
<h3 class="exec">Krakatau Lite</h3>

<a href="http://www.powersoftware.com/kl/"><img src="../img/prod/logo_kl1.gif" height=40 border=0></a><br>

<p class="exec">Many of our customers requested a tool designed simply to collect
<font color="#444444"><b><i>LOC
related metrics</i></b></font>. This is often a requirement for <font color="#444444"><b><i>CMM level 3</i></b></font> and compliance with other
software quality standards.
<font color="#444444"><b><i>Krakatau Lite</i></b></font> was created exactly for this purpose.</p>

<p class="exec">Creating projects is straight forward. The simple yet powerful User Interface gives
essential metrics including
<font color="#444444"><b><i>LOC</i></b></font> (lines of code),
<font color="#444444"><b><i>SLOC</i></b></font> (source lines of code),
<font color="#444444"><b><i>CLOC</i></b></font> (comment lines of code),
<font color="#444444"><b><i>WLOC</i></b></font> (whitespace lines of code),
<font color="#444444"><b><i>NSC</i></b></font> (number of semi-colons or 'logical' LOC).
Other useful metrics like complexity are also included.</p>

<p class="exec">Krakatau Lite is ideal for the occasional metrics user or for projects
who are required to collect metrics as part of a contractual requirement.</p></td>
-->

<td width="50%" bgcolor="#FFFFFF" valign=center>

<table><tr valign=center><td width="80%"><a href="http://www.powersoftware.com/vz/"><img
src="../img/prod/logo_vz.gif" width=220 border=0></a><br>

<p class="exec">Visualize it! is a graphical source code visualization tool for Java.</p>

<p class="exec">Visualize it! is scalable, affordable and intuitive.  Visualize it! displays all meaningful
relationships between Java source code symbols in a variety of useful 2D and 3D views.</p>

<p class="exec">Visualize it! includes handy rollups, for Symbol Properties and Symbol Search.</p>

<p class="exec">Visualize it! is scalable to many millions of Java source lines and
includes FLEXlm License Management.</p></td>

<td class="narr" align=center><a class="hotnew" href="http://www.powersoftware.com/vz/"><img border=0
src="../img/penguin.gif"><br>Linux version available</a></td></tr></table></td>

</tr><tr>

<td colspan=2 width="50%" bgcolor="#FFFFFF" valign=center>
<!--
<h3 class="exec">Licensing</h3>
-->

<!--<img src="../img/gt_comp.gif">-->
<img src="../img/mv_flexlm.gif"><br>

<p class="exec">To maximise your return on investment, Krakatau Metric tools use
<a href="http://www.macrovision.com/services/support/flexlm/lmgrd.shtml">FLEXlm,
the leading Electronic Licensing technology product</a> from Macrovision.</p></td>

</tr>

</table>
