body {
  background-color: #3C6C9E;

  scrollbar-3dlight-color:    #4A65C2;
  scrollbar-arrow-color:      #ffffff;
  scrollbar-base-color:       #ffffff;
  scrollbar-darkshadow-color: #000000;
  scrollbar-face-color:       #384C92;
  scrollbar-highlight-color:  #4058A9;
  scrollbar-shadow-color:     #0776A3;
  scrollbar-track-color:      #0D445B;
}

p, table, td {
  COLOR: #000000;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 9pt;
  TEXT-DECORATION: none
}

td.catText {
  FONT-SIZE: 8pt;
}

td.navText {
  COLOR: #FFFFFF;
}

td.freeDel {
  COLOR: #E2003B ;
  TEXT-ALIGN: CENTER ;
}

span.am {
  color:#38218E;
  font-weight:bold;
}

span.lorange {
  color:#E47B00;
}
span.delphi {
  color:#DE0029;
}
span.bosch {
  color:#EE2413;
}
span.stanadyne {
  color:#0152FE;
}
span.ww {
  color:#880129;
}

td.annot {
  FONT-SIZE: 7pt;
}

p.phoneNo {
  FONT-SIZE: 16pt;
  FONT-WEIGHT: bold
}

td.sel {
  COLOR: #FFFFFF;
  BACKGROUND-COLOR: #3C6C9E;
  FONT-FAMILY: Tahoma, Helvetica;
  FONT-SIZE: 9pt;
  FONT-WEIGHT: bold
}

td.sub {
  COLOR: #FFFFFF;
  BACKGROUND-COLOR: #3C6C9E;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold
}


.titleBand {
  BACKGROUND-COLOR: #FFF8E4;
}

.navBg {
  BACKGROUND-COLOR: #DDEEFF;
  BORDER-BOTTOM: #38218E 2px solid;
  BORDER-LEFT: #38218E 2px solid;
  BORDER-RIGHT: #38218E 2px solid;
  BORDER-TOP: #38218E 2px solid;
}

.outerBox {
  BACKGROUND-COLOR: #FFFFFF;
  BORDER-TOP:    #315B7F 3px solid;
  BORDER-LEFT:   #315B7F 3px solid;
  BORDER-RIGHT:  #497FB1 3px solid;
  BORDER-BOTTOM: #497FB1 3px solid;
}

.thinBox {
  BORDER-TOP:    #666666 1px solid;
  BORDER-LEFT:   #666666 1px solid;
  BORDER-RIGHT:  #666666 1px solid;
  BORDER-BOTTOM: #666666 1px solid;
}

td.btitle {
  COLOR: #FFF0D2;
  BACKGROUND-COLOR: #cc9900;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 8pt;
  FONT-WEIGHT: bold;
  TEXT-ALIGN: center;
}

td.pageTitle {
  COLOR: #444444;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10pt;
  FONT-WEIGHT: bold
}


h1 {
  COLOR: #444444;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 12pt;
  TEXT-DECORATION: none
}
h2 {
  COLOR: #444444;
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 10pt;
  TEXT-DECORATION: none
}

td.cpyrght {
  COLOR: #333333;
  FONT-SIZE: 7pt;
}

td.cat {
  COLOR: #333333;
  FONT-SIZE: 12pt;
  FONT-WEIGHT: bold
}

A {
  FONT-FAMILY: Verdana, Arial, Helvetica;
  COLOR: #38218E;
  FONT-WEIGHT: bold;
  TEXT-DECORATION: none;
}
A:hover {
  COLOR: #868FE3;
  FONT-WEIGHT: bold;
  TEXT-DECORATION: underline;
}


A.nav {
  FONT-FAMILY: Verdana, Arial, Helvetica;
  COLOR: #38218E;
  TEXT-DECORATION: none
  bgcolor: black ;
  FONT-WEIGHT: bold
}
A.nav:hover {
  COLOR: #868FE3;
  FONT-WEIGHT: bold
}


A.sub {
  FONT-FAMILY: Verdana, Arial, Helvetica;
  FONT-SIZE: 8pt;
  COLOR: #472CBE;
  TEXT-DECORATION: none
  FONT-WEIGHT: bold
}
A.sub:hover {
  COLOR: #868FE3;
  FONT-WEIGHT: bold
}

INPUT {
  BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-FAMILY: Verdana, Arial, Helvetica; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
TEXTAREA {
  BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
SELECT {
  BORDER-BOTTOM: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; COLOR: #000000; FONT-FAMILY: Verdana; FONT-SIZE: 10pt; PADDING-BOTTOM: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px; PADDING-TOP: 2px
}
