  <Script Language="JavaScript">
  <!--
   function showShot(fileName, relativePath, title, description) {
     shotWin = window.open("", "displayWindow", "width=780,height=580,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no") ;
     shotWin.document.write('<html><head><title>' + title + '</title><link href="' + relativePath + 'style.css" rel=stylesheet type=text/css></head>\n\n') ;
     shotWin.document.write('<body bgcolor="#ffffff"><basefont face="Arial">\n<center>\n\t<table border=0 cellspacing=14 cellpadding=0 width="100%" height="100%"><tr><td>') ;
     shotWin.document.write('<table border=0 cellspacing=0 cellpadding=0 width="100%" height="100%"><tr><td>') ;
     shotWin.document.write('<img \n\t\tsrc="' + relativePath + 'img/scrfade.gif"></td></tr><tr><td height="100%" valign=bottom bgcolor="#0077cc">') ;
     shotWin.document.write('<img \n\t\tsrc="' + relativePath + 'img/scrshot.gif"></td></tr></table></td>\n\t<td width="100%" valign=top>') ;
     shotWin.document.write('<table border=0 cellspacing=1 cellpadding=1 width=450><tr><td><font size=-1><b>' + title + '</b></td></tr>\n\t<tr>') ;
     shotWin.document.write('<td><font size=-1>' + description + '\n\t&nbsp;<a href=javascript:window.close()>close</a></td></tr></table>') ;
     shotWin.document.write('<br><img \n\tsrc="' + fileName + '"></center></td></tr></table>\n</body></html>') ;
     shotWin.document.close() ;
       //if (navigator.appName.substring(0,8) == "Netscape") shotWin.focus() ;
   }
  // -->
  </Script>
