<p class="narr">OptimizeIt is a powerful source-code optimization and memory profiling tool for Java.</p>

      <P class="narr">Optimizeit 4.02 includes
        full support for J2SE 1.3.1 Beta, making it now possible for Java developers
        to profile their Java programs running with Hotspot.</P>
      <p class="narr">Although J2SE 1.3.1
        is still in beta stage, the ability use Optimizeit to profile Java programs
        running with the HotSpot VM is invaluable. With its advanced profiling
        capabilities Optimizeit delivers a unique solution allowing Java developers
        to quickly resolve performance issues such as memory leaks or performance
        bottlenecks in their Java programs.</p>

      <p class="narr">For this reason, and in response to numerous requests, the engineering
        team made HotSpot support a priority. Thanks to the sound architecture
        of the Optimizeit profiler and to their dedication, the team has been
        able to offer support within a month of the VM Beta release.</p>
      <ul>
        <li class="narr">Download J2SE 1.3.1
          Beta from the Sun website at <a href="http://developer.java.sun.com/developer/earlyAccess/j2sdk131/">http://developer.java.sun.com/developer/earlyAccess/j2sdk131/</a></li>
      </ul>

<p class="narr">With OptimizeIt 4.02 Professional, Java developers can be sure that the high performance they get
from their Web application server is not slowed down due to performance bottlenecks or memory
leaks in their Java code. Optimizeit's new integration wizards handle all of the configuration
needed to connect Optimizeit to a Web application server, enabling developers to profile their
Java applications and track potential performance problems quickly and easily. Optimizeit 4.02
Professional also provides filters, allowing developers to filter out resources used by some
packages, classes or methods that belong to a toolkit or an application server. These filters
allow developers to focus their optimization efforts on specific parts of code.</p>

<p class="narr">Optimizeit offers many unique features allowing you to speed up your optimization process,
some examples of these are:</p>
<ul>
<li class="narr"><B>CPU Profiling</B> - Allows accurating tracking of potential performance problems in your code.</li>
<li class="narr"><B>Memory Profiling</B> - Display object allocating at run-time.</li>
<li class="narr"><B>IDE Integration</B> - Visual Age 2.0, VisualCafe, JBuilder, JDeveloper.</li>
<li class="narr"><B>Global Performance Info</B> - Optimizeit displays in real-time high-level performance related
data about the program being tested.</li>
</ul>

