<FORM action="/cgi-bin/www.power-soft.co.uk/detailsvz.pl" method=post>
<table border=0 cellspacing=0 cellpadding=2 width="100%"><tr valign=center>
<td class="narr" width="65%"><b>Visualize it! is a graphical source code visualization tool for Java.</b></td>

<td align=right><a href="javaScript:showFlash('/vz/viz.swf', 'Visualize it!', 'Visualize it! Demo', 770, 500);"><img src="../img/flash.gif" border=0></a></td>
<td class="narr" width="15%">View Flash Demo</td>

<td class="narr" valign=center><input type=hidden name="fromscr01" value="1"><input
type=image src="../img/cart.gif"></td><td class="narr" width="10%">Buy Online</td></tr><table></form>

<table border=0 width="100%" cellspacing=15><tr valign=top><td>

<table border=0><tr valign=center><td class="narr"><b>Why</b></td>
<td align=left width="100%"><img src="../img/prod/small_vz.gif"></td></tr><tr>
<td class="narr"colspan=2 >Use Visualize it! to:</td></tr></table>

<ul>
<li class="narr">View your Java source in an entirely new way</li>
<li class="narr">Understand complicated or unfamiliar Java programs</li>
<li class="narr">Verify your Java program design</li>
<li class="narr">Check compliance with standards</li>
<li class="narr">Analyze in-house and third party Java source code</li>
<li class="narr">Reduce complexity of Java programs</li>
<li class="narr">Improve support and quality of Java source</li>
<li class="narr">Increase visibilty</li>
</ul>
</td><td valign=top>

<table border=0><tr valign=top><td><table border=0>
<tr valign=center><td class="narr"><b>Who&nbsp;would&nbsp;use</b></td>
<td align=left width="100%"><img src="../img/prod/small_vz.gif"></td></tr><tr>
<td class="narr"colspan=2 >Java Professionals involved in any of the following areas:</td></tr></table>

<ul>
<li class="narr">Source Code Development</li>
<li class="narr">Project Management</li>
<li class="narr">Source Code Design</li>
<li class="narr">Software Quality</li>
<li class="narr">Source Code Documentation</li>
</ul>
</td></tr><tr valign=bottom><td class="narr" align=center><a class="hotnew" href="http://www.powersoftware.com/download/"><img border=0
src="../img/penguin.gif"><br>Linux version available</a></td></tr></table></td></tr>

<tr><td colspan=2>

<table border=0 width="100%"><tr><td>

<table border=0><tr valign=center><td class="narr"><b>What&nbsp;about&nbsp;existing&nbsp;tools?&nbsp;&nbsp;Why&nbsp;do&nbsp;I&nbsp;need</b></td>
<td align=left width="100%"><img src="../img/prod/small_vz.gif"></td></tr><tr>
<td class="narr"colspan=2>You need Visualize it! because:</td></tr></table>

<ul>
<li class="narr">Visualize it! is the only graphical source code analysis tool of its kind</li>
<li class="narr">Visualize it! is uncomplicated</li>
<li class="narr">Visualize it! is 'Out of the box' and ready to go</li>
<li class="narr">Visualize it! is really simple so it will be used and will be useful</li>
<li class="narr">Visualize it! is affordable - just 495 for a developer copy.</li>
<li class="narr">Visualize it! offers FlexLM floating licenses for network or corporate users.</li>
<li class="narr">Visualize it! is cool and will be widely adopted.</li>
</ul>

</td>
<td align=right><table border=1 cellpadding=4><tr><td><a href="screenshot.html"><img src="../img/prod/scr01_vz.gif" border=0></a></td></tr></table></td>
</tr></table>

</td>

</tr>

</table>

