<table border=0 cellspacing=0 cellpadding=4 width="100%">
  <tr>
    <td><p><span class=am>Airylea Motors</span> are specialists in all types of diesel
    fuel injection systems.</p>

    <p>With over 35 years in the business we have the experience to service and repair
    all your diesel fuel systems quickly and efficiently. We deal with both marine and
    commercial vehicle fuel injection systems as well as most other types of industrial
    diesel applications.</p>

    <p>Although we are based in Aberdeen, UK, we do business all over Scotland.</p>

    <p>We stock and can order spare parts for
      <a href="suppliers/lorange.html">L'Orange</a>,
      <a href="suppliers/delphi.html">Delphi</a>,
      <a href="suppliers/bosch.html">Bosch</a>,
      <a href="suppliers/stanadyne.html">Stanadyne</a> and
      <a href="suppliers/woodward.html">Woodward</a>.
    </p>

    <p><span class=am>Airylea Motors</span> are the number one choice for all your diesel
    fuel injection supply, service, repair and maintenance needs.</p>

    </td>

    <td><img src="./img/nav/lorange.gif" alt="L'Orange Diesel Fuel Pump"></td>

  </tr>
</table>