<FORM action="/cgi-bin/www.power-soft.co.uk/detailsem.pl" method=post>
<table border=0 cellspacing=0 cellpadding=2 width="100%"><tr valign=center>
<td class="narr" width="65%"><b>Essential Metrics is a command line metrics tool for C/C++ and Java software projects.</b></td>

<td align=right><table border=0 cellspacing=0 cellpadding=5 align=center>
  <tr>
    <td align=right><a href="javaScript:showFlash('/em/emetrics.swf','Essential Metrics','Essential Metrics Demo', 'EM Product', 770, 500);"><img src="../img/flash_off.png" width=30 height=30 onmouseover="this.src='../img/flash_on.png';" onmouseout="this.src='../img/flash_off.png';" border=0></a></td>
    <td class="narr"><a href="javaScript:showFlash('/em/emetrics.swf','Essential Metrics','Essential Metrics Demo', 'EM Product', 770, 500);">View Flash Demo</a></td>
    <td class="narr"><a href="UserGuideEmetrics.pdf"><img src="../img/pdf2.gif" border=0></a></td>
    <td><a class="narr" href="UserGuideEmetrics.pdf">View the User Guide</a></td>
  </tr>
</table></td>

<td class="narr" valign=center><input type=hidden name="fromscr01" value="1"><!--<input
type=image src="../img/cart.gif"></td><td class="narr" width="10%">Buy Online</td>--></tr><table></form>

<table border=0 width="100%" cellspacing=15><tr valign=top><td>

<table border=0><tr valign=center><td class="narr"><b>Why use Essential Metrics?</b></td></tr><tr>
<td class="narr">Use Essential Metrics to:</td></tr></table>

<ul>
<li class="narr">To comply with software quality standards</li>
<li class="narr">Move towards CMM and ISO/ANSI approval</li>
<li class="narr">Collect and measure important source code parameters</li>
<li class="narr">Improve the support and quality of your source code</li>
<li class="narr">Document your Files, Classes, Methods and other symbols</li>
<li class="narr">Reduce maintenance overhead</li>
<li class="narr">Produce better source code - increase sales, reduce costs, protect your investment!</li>
</ul>
</td><td valign=top>

<table border=0><tr valign=center><td class="narr"><b>Who would use Essential Metrics?</b></td></tr></table>

<ul>
<li class="narr">Software Quality Experts</li>
<li class="narr">Project Managers</li>
<li class="narr">Software Testing Experts</li>
<li class="narr">Configuration Managers</li>
<li class="narr">Anyone interested in source code metrics</li>
</ul>
</td></tr>

<tr><td colspan=2>

<table border=0 width="100%"><tr><td>

<table border=0><tr valign=center><td class="narr"><b>What about existing tools? Why would I buy Essential Metrics?</b></td></tr><tr>
<td class="narr">Buy Essential Metrics because:</td></tr></table>

<ul>
<li class="narr">Essential Metrics is a powerful, fully featured command line (batch) metrics tool</li>
<li class="narr">Essential Metrics is scalable to millions of lines of source</li>
<li class="narr">Essential Metrics utilises an SQL database engine</li>
<li class="narr">Essential Metrics measures all popular and important metrics</li>
<li class="narr">Essential Metrics has great reports including HTML and CSV</li>
<li class="narr">Essential Metrics is backed by Power Software</li>
<li class="narr">Essential Metrics is compact, easy to use and simple to integrate into your batch processes</li>
<li class="narr">Essential Metrics offers a low entry point and fully-featured FlexLM floating licenses</li>
<li class="narr">Essential Metrics can be upgraded to the advanced Krakatau range of graphical source code measurement
including <a href="/pm/">Krakatau Project Manager</a>, the 'changed' SLOC tool</li>
</ul>

<td align=right><table border=0 cellpadding=4><tr><td><a href="screenshot.html"><img src="thumb/a01.gif" border=0></a></td></tr></table></td>
</tr></table>

</td>

</tr>

</table>