
<p class="narr"><b>Imagix4D is a fully-featured reverse-engineering tool for comprehensive
C/C++ source code analysis.</b></p>

<p class="narr">Imagix 4D helps software developers understand
complex or legacy C and C++ software. Imagix 4D enables you to rapidly check or
systematically study your software on any level, from high-level
architecture, to details of build, class, and function dependencies.</p>

<p class="narr">With Imagix4D you can visually explore a wide range of code characteristics
including control structures, data usage, and symbol inheritance.  Imagix4D creates comprehensive
source code documentation automatically, making it a versatile and powerful reverse-engineering
tool.</p>

<h3 class="narr">Integrated Source Code Browsing</h3>
<p class="narr">With Imagix 4D's file editor, you're able to browse your source
code using hypertext-like links between the definitions and uses of functions, classes,
variables and types.  Because of the editor's integration with the rest of
Imagix 4D, you can control what you're seeing in the graphic window from the
source code, and vice-versa.</p>

<h3 class="narr">Broad Range of Complementary Displays</h3>
<p class="narr">Imagix 4D provides a series of optimized displays that use visualization to
provide fast, accurate comprehension of your software.  The displays work
together, with linked navigation and synchronization.</p>

<p class="narr">Class and file browsers help you quickly review a class or file's members,
and to filter them according to scope and type.  A grep window lets you review
the results of grep searches and jump right to the relevent source code. Flow charts
can help you understand and debug the control flow within a given function.</p>

<h3 class="narr">Automated Documentation</h3>
<p class="narr">Imagix 4D also helps you generate comprehensive design documents, for either
your own software, or for code you've inherited. Using information in the Imagix 4D
database and in the source code itself, Imagix 4D automates the task of documenting
each component (file, class, function, etc.) in your software.  In addition to
plain ASCII documents, Imagix 4D can output in HTML (for on-line, hyperlinked
documentation) and RTF (for formal hardcopy documents).</p>

<p class="narr"><i>Imagix 4D and Imagix 2000 are trademarks of Imagix Corporation.
All other trademarks are the property of their respective owners.</i></p>
