
<h3 class="narr">Krakatau Lite is an entry-level, graphical, software metrics tool.</h3>

<p class="narr">Krakatau Lite is specifically designed for projects new to
software metrics or interested primarily in counting LOC related metrics.</p>

<p class="narr">Krakatau Lite is ideal for organizations required to count lines
of code metrics for military or government contracts and also for adherence to
ANSI/ISO and CMM quality standards.</p>

<p class="narr">Krakatau Lite counts lines of code, source lines of code, comment lines and
semi-colon lines of code. &nbsp;Krakatau Lite offers several other basic metrics such as Cyclomatic
Complexity and Halstead Size metrics. &nbsp;Krakatau Lite focuses on source code measurement at the Project and File level.</p>

<p class="narr">Krakatau Lite automatically loads in and scans C/C++ or Java code,
calculates metrics and presents the results numerically and graphically.
Graphs can be sorted by ascending/descending values and also by metrics type.</p>

<p class="narr">Krakatau Lite outputs reports in the popular CDF and HTML formats.</p>

<p class="narr">Krakatau Lite features the following essential metrics:</p>



