<p class="narr"><b>Whether you are writing stand-alone Swing applets or massive J2EE
              server applications, the Optimizeit Suite is a key part of your development process, letting you efficiently pinpoint performance and thread-related
              issues before they have a chance to get out of control.</b></p>
<p class="narr">By allowing you to track issues and assess their severity right
              down to the responsible method and line of code, the Optimizeit
              Suite keeps you focused on the highest priority performance challenges.
              The result is quicker, more manageable development cycles -- and
              quicker, more reliable applications.</p>
<p class="narr">With its unequalled scalability, the Optimizeit Suite provides accurate,
relevant data tuning even the largest J2EE applications. With full application server
integration and remote process connectivity, the Optimizeit Suite is the ideal solution
for improving developer team productivity, application performance and reliability.</p>

<p class="narr">3 integrated tools for tuning performance throughout
              the development cycle.<br>
            <img src="../img/prod/opt_3tools.gif" border=0></p>
<p class="narr">2 options
              to fit your tuning requirements and development environment.</p>
<ul>
  <li class="narr"><font face="Arial, Helvetica, sans-serif" size="2"><b>Optimizeit
                  Enterprise Edition </b>Ideal for J2EE performance and reliability
                  tuning.</font>
    <ul>
      <li class="narr"><font face="Arial, Helvetica, sans-serif" size="2">Unique
                      scalability to handle even the largest J2EE applications
                      </font></li>
      <li class="narr"><font face="Arial, Helvetica, sans-serif" size="2">Access
                      to remote Java processes </font></li>
      <li class="narr"><font face="Arial, Helvetica, sans-serif" size="2">Integrates
                      fully and easily with all major application servers</a></font></li>
    </ul>
  </li>
  <li class="narr"><font face="Arial, Helvetica, sans-serif" size="2"><b>Optimizeit
                  Standard Edition</b> Ideal for J2SE performance and reliability
                  tuning.</font>
    <ul>
      <li class="narr"><font face="Arial, Helvetica, sans-serif" size="2">Full
                      range of high-power performance features for any Java process
                      running on a local system</font></li>
      <li class="narr"><font face="Arial, Helvetica, sans-serif" size="2">Quick
                      installation and easy-to-use user interface</font></li>
    </ul>
  </li>
</ul>
