<table border=0 cellspacing=0 cellpadding=2 width="100%"><tr valign=center>
<td class="narr" width="80%"><b>Krakatau Project Manager (PM) is a high-level, graphical, metrics tool
and source code<br>monitoring system designed for Project Managers and CMVC professionals.</b></td>

<td align=right><a href="javaScript:showFlash('/pm/pm.swf','Krakatau Project Manager','Krakatau Project Manager Demo', 'KPM Product', 550, 500);"><img src="../img/flash_off.png" width=30 height=30 onmouseover="this.src='../img/flash_on.png';" onmouseout="this.src='../img/flash_off.png';" border=0></a></td>
<td class="narr" width="20%"><a href="javaScript:showFlash('/pm/pm.swf','Krakatau Project Manager','Krakatau Project Manager Demo', 'KPM Product', 550, 500);">View Flash Demo</a></td></tr></table>

<table border=0 cellspacing=5 cellpadding=5>

<tr><td colspan=2 class="narr">Krakatau PM offers single project and project
comparison modes of operation.</td></tr>

<tr><td colspan=2 class="narr">In single Project mode many traditional metrics including Halstead and
Cyclomatic complexity can be examined and reported on.</td></tr>


<tr><td colspan=2 class="narr">In Project comparison mode two versions of the same project can be compared
and Krakatau PM will show the 'differences' in the metrics between releases and the
'changes' in source lines of code between projects. The 'changed lines' include
CHG_SLOC, DEL_SLOC and ADD_SLOC. These 'changed lines' metrics are often called
'churn' or 'delta' SLOC and are widely required and applied by ClearCASE and other CMVC experts.</td></tr>

<tr><td><a href="http://www.powersoftware.com/pm/pm_chg_ex.pdf"><img
border=0 src="http://www.powersoftware.com/img/pdf2.gif"></a></td>
<td class="narr" width="100%">View this document for a simple illustration of the Changed, Added and Deleted SLOC metrics.</td>
</tr>

<tr><td colspan=2 class="hotnew">NEW IN VERSION 2.11</td></tr>
<tr><td colspan=2 class="narr">Krakatau Project Manager now allows Translation files to
be associated with Krakatau projects, so that non-standard C/C++ code can be translated to
parsable code.

&nbsp;A Translation file is created using a
<a href="javascript:var tmp = window.open('../products/lang.html', 'transWindow', 'width=640,height=480,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');">simple language</a>,
and then this file is to be specified within the Project Preferences. &nbsp;Full details can be viewed
in the Online Help.</td></tr></table>


<p class="narr">The following metrics are available to
Krakatau Project Manager:</p>