
<p class="narr"><b>Krakatau Professional is a fully-featured Software Metrics tool, designed
for source code quality and software metrics specialists.</b></p>

<table border=0 cellpadding=10 cellspacing=0 width="100%">
<tr>
<td>

<p class="narr">Krakatau Professional for Java and Krakatau Professional for C/C++
are industry-strength software metrics tools for organizations committed to delivering maximum
quality. &nbsp;These powerful tools deliver real world benefits and are instrumental in
helping you comply with ISO, CMM and other quality standards.

<p class="narr">Krakatau Professional provides a comprehensive range of metrics
including traditional, procedural and object-oriented metrics, plus Java and C++ language-specific
metrics. &nbsp;Supported metrics include Cyclomatic Complexity, Enhanced Cyclomatic Complexity,
Halstead Software Science metrics, LOC metrics, MOOD, Chidamber & Kemerer metrics.
In all, over 70 metrics are offered.</p>

<p class="narr">Krakatau Professional provides a comprehensive range of software metrics at the
class, interface and method levels.  These metrics can be used by C/C++ and Java software experts
to analyze and improve the quality, integrity and ultimately, the reliability and performance
of the software system.</p>

</td>

<td align=center>
<a href="UserGuideKPro.pdf"><img src="../img/pdf2.gif" border=0></a><br>
<a class="narr" href="UserGuideKPro.pdf">View the User Guide</a><br><br>
</td>
</tr>
</table>

<table border=0 cellspacing=5><tr><td class="hotnew">NEW IN VERSION 2.11</td></tr>
<tr><td class="narr">Krakatau Professional now allows Translation files to
be associated with Krakatau projects, so that non-standard C/C++ code can be translated to
parsable code.

&nbsp;A Translation file is created using a
<a href="javascript:var tmp = window.open('../products/lang.html', 'transWindow', 'width=640,height=480,directories=no,location=no,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no');">simple language</a>,
and then this file is to be specified within the Project Preferences. &nbsp;Full details can be viewed
in the Online Help.

<table border=0 cellpadding=10 cellspacing=0 width="100%">
<tr>

<td><p class="narr">Krakatau Professional includes the following features:</p>
<ul>
<li class="narr">Enhanced project creation, including support for importing Visual Studio Projects
<li class="narr">Project Tree - showing the contents of the project
<li class="narr">Kiviat Diagrams - showing average metric results over multiple symbols
<li class="narr">Command Line execution has been upgraded to allow the full Krakatau functionality to be exploited
<li class="narr">Report output has been upgraded through hyperlinked HTML metric output
<li class="narr">Other features - Exporting to CDF for further analysis in applications like Excel
<li class="narr">Major ease of use improvements - including right-click sorting and selecting of metrics
</ul></td>

<td align=center><table border=1 cellpadding=10 cellspacing=0 width="300">
<tr><td><b>LCOM</b></td><td>When have updated our implementation of the LCOM metric,
moving away from the original Chidamber &amp; Kemerer algorthim to the
<a href="http://www.computing.dcu.ie/~renaat/ca421/LCOM.html">Brian Henderson-Sellers revision</a>.
The revision gives a far more accurate measure of <b>L</b>ack of <b>CO</b>hesion in <b>M</b>ethods.</td>
</tr><tr>
<td><b>SEI MI</b><td>We have implemented the
<a href="http://www.sei.cmu.edu/str/descriptions/mitmpm_body.html">Software Engineering Institute
Maintainability Index</a> to help you measure and track Maintainability within your codebase.
Please read the <a href="http://www.sei.cmu.edu/str/descriptions/mitmpm_body.html">SEI paper</a> for more information.</tr>
</table></td>

</tr>
</table>

</td></tr>

