<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FrontBurner.Tmax.Apps.EworkManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="FrontBurner.Tmax.Apps.EworkManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
    <applicationSettings>
        <FrontBurner.Tmax.Apps.EworkManager.Properties.Settings>
            <setting name="OraUsername" serializeAs="String">
                <value>metastorm</value>
            </setting>
            <setting name="OraPassword" serializeAs="String">
                <value>metastorm</value>
            </setting>
            <setting name="OraTNS" serializeAs="String">
                <value>wizard</value>
            </setting>
        </FrontBurner.Tmax.Apps.EworkManager.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <FrontBurner.Tmax.Apps.EworkManager.Properties.Settings>
            <setting name="EworkCrDbPath" serializeAs="String">
                <value>C:\Talisman\ework\eworkCR.mdb</value>
            </setting>
        </FrontBurner.Tmax.Apps.EworkManager.Properties.Settings>
    </userSettings>
</configuration>
