<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FrontBurner.Ministry.MseBuilder.Properties.Settings.GoodteachingOrgConnectionString"
            connectionString="Dsn=MySQL;database=goodteaching_org_min;description=MySQL;option=0;port=0;server=localhost;uid=root;pwd=Coyote99"
            providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>