
<h2 class="narr">How do I install KEPM on Vista or Windows 7?</h2>

<p class="narr">Simple!  Just ensure that you right-click on the KrakatauEpmSetup.exe and choose <b>Run as administrator</b>.</p>

<p class="narr">Why?  If you don't, MySQL won't be properly registered and the service won't be started.</p>

<h2 class="narr">When I analyse, KEPM says the database is not started... why?</h2>

<p class="narr">This is likely to be caused by a faulty installation.  Try uninstalling and reinstalling, and if that doesn't work, ensure the <b>EPMdb</b> Service is started.

If not, you can start it manually.</p>

<img src="../img/Vista-Win7-RunAsAdministrator.jpg"></td>

