<table border=0 cellspacing=0 cellpadding=4>
  <tr>
    <td><h1>Diesel Cars</h1>

    <p><span class=am>Airylea Motors</span> service and repair diesel fuel injection systems on
all types of diesel car.</p>

    <table border=0 cellspacing=4 cellpadding=0 align=center>
      <tr>
        <td class=thinBox><img src="./img/cars/audi_a8.png" alt="Audi A8"></td>
        <td class=thinBox><img src="./img/cars/peugeot_407.png" alt="Peugeot 407"></td>
      <tr>
      <tr>
        <td align=center class=annot>Audi A8</td>
        <td align=center class=annot>Peugeot 407</td>
      <tr>


      <tr>
        <td class=thinBox><img src="./img/cars/ford_mondeo.png" alt="Ford Mondeo"></td>
        <td class=thinBox><img src="./img/cars/vauxhall_vectra.png" alt="Vauxhall Vectra"></td>
      <tr>
      <tr>
        <td align=center class=annot>Ford Mondeo</td>
        <td align=center class=annot>Vauxhall Vectra</td>
      <tr>


      <tr>
        <td class=thinBox><img src="./img/cars/vw_passat.png" alt="VW Passat"></td>
        <td class=thinBox><img src="./img/cars/mercedes_c.png" alt="Mercedes C-class"></td>
      <tr>
      <tr>
        <td align=center class=annot>VW Passat</td>
        <td align=center class=annot>Mercedes C-class</td>
      <tr>
    </table>

    </td>

  </tr>
</table>

