<table border=0 cellspacing=0 cellpadding=4>
  <tr>
    <td><h1>Commercial</h1>

    <p><span class=am>Airylea Motors</span> service and repair all types of
    commercial vehicle fuel injection systems, from all types of vehicles.
    Have your fuel system overhauled by us and you can rest assured that your motor
    will keep on running at it's best, saving you unnecessary expense and down-time.</p>

    <table border=0 cellspacing=4 cellpadding=0 align=center>
      <tr>
        <td class=thinBox><img src="./img/vans/mercedes_vito.png" alt="Mercedes Vito"></td>
        <td class=thinBox><img src="./img/vans/peugeot_partner.png" alt="Peugeot Partner"></td>
      <tr>
      <tr>
        <td align=center class=annot>Mercedes Vito</td>
        <td align=center class=annot>Peugeot Partner</td>
      <tr>


      <tr>
        <td class=thinBox><img src="./img/vans/ford_transit.png" alt="Ford Transit"></td>
        <td class=thinBox><img src="./img/vans/iveco_daily.png" alt="Iveco Daily"></td>
      <tr>
      <tr>
        <td align=center class=annot>Ford Transit</td>
        <td align=center class=annot>Iveco Daily</td>
      <tr>
    </table>

    <p>A poorly maintained or incorrectly adjusted fuel system in one of your
    commercial vehicles can lose you performance and money. Wasted fuel will increase
    your overheads and lowered performance will increase delivery times.
    And that's just in the short-term: bad injectors or a ineffective pump can
    eventually cause more serious damage due to increased engine strain,
    with the resulting expensive repairs and time off the road.</p>

    <table cellspacing=0 cellpadding=0 align=center>
      <tr><td class=thinBox><img src="./img/gibb.jpg" alt="Truck Diesels"></td><tr>
      <tr><td align=center class=annot>Truck Diesels</td><tr>
    </table>

    <p>We deal with all types of land-based diesel engines, not just commercial vehicles.
    Farm vehicles, single cylinder pumps, compressors, diesel saws and all types of
    industrial plant are within our scope.</p>
    </td>

  </tr>
</table>